[2019-07-29 22:23] streetcoder123 opened #962 "Change All Occurrences of ExpressJS to Express"
Express and ExpressJS has been used inconsistently in the code base. To make it consistent, change all occurrences of ExpressJS with Express.

[2019-07-29 22:24] streetcoder123 opened #963 "Change All Occurrences of VueJS to Vue"
Vue and VueJS has been used inconsistently in the code base. To make it consistent, change all occurrences of VueJS with Vue.

[2019-07-29 22:29] #963 closed, assigned to streetcoder123

[2019-07-29 23:49] jsondoo opened #967 "SVG's overwrite each other's CSS classes"
Having multiple svg's in one view overwrrite each other's CSS classes resulting in weird colors because all svg's use the same classnames

(e.g. adding azure functions overwrites the planet color's `.cls-2`)
![image](https://user-images.githubusercontent.com/21695878/62090108-85808200-b220-11e9-8755-cd7e7289f6b5.png)

(e.g. azure services page which has a lot of svgs)
![image](https://user-images.

[2019-07-30 16:42] #948 closed, assigned to nobody

[2019-07-30 18:04] #958 closed, assigned to streetcoder123

[2019-07-30 18:57] #962 closed, assigned to streetcoder123

[2019-07-30 21:10] SahilTara commented on #897
Think this is closed as of #946

[2019-07-30 21:46] jsondoo opened #971 "Users should only be allowed to create one Azure cloud hosting at a time"
Briefly mentioned in the note of #970

ASP means App Service Plan (https://docs.microsoft.com/en-us/azure/app-service/overview-hosting-plans)

Currently, WebTS creates an ASP (kind: functionapp) when it deploys an Azure Function App. It looks something like this:
![image](https://user-images.githubusercontent.com/20333350/62169293-bb833c00-b2dc-11e9-9163-288c4f8f20c5.png)

The App Service Plan req

[2019-07-30 21:48] xtinah-w commented on #971
![oneHostingService](https://user-images.githubusercontent.com/24245311/62167889-09964080-b2d9-11e9-896a-54bc398aa097.png)

[2019-07-30 22:11] streetcoder123 opened #972 "Quick Start Enhancement"
Quick Start should be enhanced such that:
- It is more obvious that it is optional to take the quick start route.
- Add new information to summary page if user arrives there through quick start.

[2019-07-30 22:12] jasmingoh commented on #971
Refer to the edited description of this issue.

[2019-07-30 22:14] xtinah-w commented on #972
![quickStart-v3](https://user-images.githubusercontent.com/24245311/62169262-9e4e6d80-b2dc-11e9-8e3d-3e8e05da7c3b.png)
![quickStart-end](https://user-images.githubusercontent.com/24245311/62169265-a1e1f480-b2dc-11e9-8b39-3b97c1919724.png)

Quick Start copy has changed + Quick Start summary message will change if users have activated it

[2019-07-30 22:17] jsondoo commented on #955
This issue should be fixed with #916

[2019-07-30 22:45] jsondoo opened #974 "New project page text can go over the footer"
![image](https://user-images.githubusercontent.com/21695878/62170638-f4bdab00-b2e0-11e9-9864-34c4f7acb1b5.png)

[2019-07-30 23:21] Tanya0609 commented on #412
Hi, I think wont fix mean wont fix within the scope to end of August. Using oos will be more accurate in this case.

[2019-07-30 23:22] Tanya0609 commented on #196
I think wont fix mean wont fix within the scope to end of August 2019, thus changing to oos label.

[2019-07-30 23:22] Tanya0609 commented on #604
I think wont fix mean wont fix within the scope to end of August 2019, thus changing to oos label.

[2019-07-30 23:42] crutkas commented on #604
@tanya0609, labels like "won't fix" have strong meaning.  Even OOS has strong meaning and for this context, same meaning as "won't fix".  A suggestion may be just limit what is and is not in scope for your internship to a milestone and assign milestone to the stuff that is in scope for what you can do?

How this issue currently reads as it won't be worked on ever which based on your comment is not

[2019-07-31 00:24] #955 closed, assigned to Tanya0609

[2019-07-31 16:25] ali-kha opened #978 "Feedback on Generated VueJS Code"
Summary of issues and suggestions from vue experts
- Use Vue short hands
  - ie. `v-bind:foo` should be `:foo`
- Use @ for paths instead of relative ones
- Don't use bootstrap!
- Use `foo()` instead of `foo: function()` for component fields
- Use object syntax for competent props
- Improve names of reusable components
  - ie. `WarningMessage` should be `BaseWarningMessage`
- On the Vue styling gui

[2019-07-31 17:56] Tanya0609 commented on #767
Hi @vvatkov, @hudyyy, the solution to this issue has been merged into our code base, and will be released next Monday. Please download the new release extension from marketplace or update your current extension, and the issue should be fixed for you.

If the issue still exists, please let us know! Thank you so much for your feedback!

[2019-07-31 17:57] Tanya0609 commented on #744
Hi @epakconsultant, the solution to issues related to this one has been merged into our code base, and will be released next Monday. Please download the new release extension from marketplace or update your current extension, and the issue should be fixed for you. Thus, we will close this issue.

If the issue still exists, please let us know! Thank you so much for your feedback!

[2019-07-31 17:58] #744 closed, assigned to nobody

[2019-07-31 17:59] Tanya0609 commented on #612
Hi @duanerlong, the solution to this issue has been merged into our code base, and will be released next Monday. Please download the new release extension from marketplace or update your current extension, and the issue should be fixed for you. Thus, will close this issue for now.

If the issue still exists, please let us know! Thank you so much for your feedback!

[2019-07-31 18:02] Tanya0609 commented on #722
PR #946 has been merged, the feature is in the extension right now, thus close this issue

[2019-07-31 18:02] #722 closed, assigned to nobody

[2019-07-31 18:04] Tanya0609 commented on #685
This issue should be resolved by calling corets cli and I could no longer produce this bug any more, thus close this issue

[2019-07-31 18:04] #685 closed, assigned to nobody

[2019-07-31 18:07] #212 closed

[2019-07-31 18:07] trevorNgo commented on #212
Bug no longer an issue because Get Started Button was removed

[2019-07-31 18:07] Tanya0609 commented on #199
Since we have created another issue to log all the feedback from Vue experts and tracking the progress, thus closing this issue #978

[2019-07-31 18:07] #199 closed

[2019-07-31 18:09] #897 closed, assigned to nobody

[2019-07-31 18:12] Tanya0609 commented on #200
Hi @hansmbakker, I think @xtinah-w mean wont be able to do it within the Aug 2019 deadline. We created and changed to oos label, this is more accurate label.

Add support for .NET is something we would love to do, and we have reached out to the team that is developing .NET projects. They would like to support us once we start this feature. Hope this will be dev hours on this feature in the very so

[2019-07-31 18:13] Tanya0609 commented on #483
This enhancement is already in the Wizard, thus closing this issue

[2019-07-31 18:13] #483 closed

[2019-07-31 18:17] hansmbakker commented on #200
Great to hear!

[2019-07-31 19:10] xtinah-w commented on #888
App Service Form revisions (some changes apply to all Azure forms)
![appServiceForm](https://user-images.githubusercontent.com/24245311/62240599-2dff2500-b38c-11e9-97f4-bc0a5dbe6c70.png)

[2019-07-31 19:55] streetcoder123 commented on #767
@Tanya0609 Should we close this issue?

[2019-07-31 20:33] streetcoder123 opened #981 "Create a default Project Name"
Along with default output path, we should also have a default project name to make the experience even faster.

[2019-07-31 20:35] streetcoder123 commented on #971
@jsondoo This has been fixed, so should we close this?

[2019-07-31 20:50] jsondoo opened #983 "Autofill name field in Azure forms"
Once a subscription is selected, it should autofill the name field with a valid name

[2019-08-01 00:07] xtinah-w opened #987 "Improve Azure Services Post-Generation Experience"
### Post-Generation Experience

**Improve Cosmos DB**
- [x] Improve the README file about Azure Cosmos DB and how to use it (includes adding the connection code inside the generated project)
- [ ] Add more comments in the code to let the user know they start from here

**Improve App Servic**e
- [x] Explain how to use App Service extension in the README (ctrl + shift + p to deploy)

[2019-08-01 00:15] SahilTara opened #988 "On some screen sizes there are multiple scrollbars"
When clicking the details button two scrollbars show up on the details page.

![image](https://user-images.githubusercontent.com/32103099/62256547-a76c3700-b3cf-11e9-9922-fc1e2eebe922.png)

Screen size + Scaling
![image](https://user-images.githubusercontent.com/32103099/62256574-cbc81380-b3cf-11e9-95f9-ca8db493c22e.png)

[2019-08-01 00:21] xtinah-w opened #989 "Improve usability of post-generated code"
Ensure everyone is implementing best practices for the post-generated code and review it again!

### Post-Generation Experience

**Improve Angular**
- [ ] Add more comments

**Improve Vue**
- [ ] Ensure we're leaving enough comments for Vue

**Improve React**
- [ ] Add more comments for React

[2019-08-01 08:40] vvatkov commented on #767
Thank you!

I found that there was a mismatch between the SHA256 hash of the Web.Any.Templates.mstx and the one that the CoreTemplateStudio API expects. So the problem on my side was an integrity check error. Now it's OK.

[2019-08-01 12:04] SahilTara commented on #872
Think this issue can be closed now

[2019-08-01 12:30] SahilTara opened #991 "On some screens the "Create Your Web App in Seconds" is cut off by Nav"
On the Welcome page the Create Your Web App in Seconds gets cut off by the nav bar due to screen scaling.

![image](https://user-images.githubusercontent.com/32103099/62293310-504d7d00-b436-11e9-9bba-d53dbfa5a6ca.png)

Screen size + Scaling
![image](https://user-images.githubusercontent.com/32103099/62256574-cbc81380-b3cf-11e9-95f9-ca8db493c22e.png)

[2019-08-01 15:14] SahilTara commented on #967
@jsondoo I have a fix for this, gonna wait for the role pr to go in first.

[2019-08-01 15:34] SahilTara commented on #967
So there's two ways to fix this
1) make all class names unique in svgs
2) Set all svgs as src inside of img instead.

Which do you prefer?

[2019-08-01 16:04] SahilTara commented on #190
Oh haha maybe this is fixed but @xtinah-w I essentially meant to destructure the variables whenever possible. For example imagine you have an object props, with the following attributes: foo, bar.

Instead of doing `props.foo` and `props.bar` you would do `const {foo, bar} = props` and then call `foo` and `bar` respectively in the code instead. Removes the extra "props.". This issue can probably b

[2019-08-01 16:05] #190 closed

[2019-08-01 16:30] SahilTara commented on #978
Is removing bootstrap a good idea? Mainly because its used in our other 2 front end frameworks. Just wondering.

[2019-08-01 19:01] #972 closed, assigned to streetcoder123

[2019-08-01 19:31] jsondoo commented on #967
@SahilTara I think the second solution is better or easier for you to implement. Thanks :)

[2019-08-01 19:49] SahilTara commented on #967
@jsondoo I made a script to automate first option just in case you asked haha

[2019-08-01 19:52] xtinah-w opened #996 "Move "Create New" subscription into the dropdown selection menu"
If a new user has no subscriptions, they should be able to see "Create New" as the call to action when they click on the dropdown menu.
![createNewDropdown-azureForms](https://user-images.githubusercontent.com/24245311/62324022-73d7ee00-b45d-11e9-8f0e-3cee8562b09e.png)

Also, another UX problem is that once a user successfully creates a subscription or resource group outside of the wizard at the s

[2019-08-01 19:58] #957 closed, assigned to streetcoder123

[2019-08-01 20:05] streetcoder123 opened #997 "Duplicate default pages issue"
How to reproduce:

1. go through the wizard with 1 blank page selects
2. at summary page, change the framework
3. then go to the home page and click quick start button, which leads you to the summary page
4. then go to the pages page, you would say two blank pages get defaulted

![image](https://user-images.githubusercontent.com/35667299/62323855-117eed80-b45d-11e9-8ae0-54cd51ecba4b.png)

[2019-08-01 20:10] jsondoo commented on #967
@SahilTara ohh nice, if the script is ready then just go with the first

our original plan was to update all the svg's classnames anyways

[2019-08-01 20:15] SahilTara commented on #967
Yeah, need to wait for #969 to get merged first!

[2019-08-01 20:19] #974 closed, assigned to streetcoder123

[2019-08-01 20:21] xtinah-w opened #998 "Extension Settings: Add Privacy Statement and Terms of Use"
We will be adding Privacy Statement and Terms of Use to our extension settings since we are an open-source project

[2019-08-01 20:44] #971 closed, assigned to jsondoo

[2019-08-02 17:27] xtinah-w opened #1005 "Update all frameworks versions to their accurate version"
Definitely need to update Angular to its accurate version and double-check for remaining frameworks

[2019-08-02 17:28] xtinah-w opened #1006 "Show whether or not something is the latest version in frameworks"
(Latest) should be shown beside the version number to let user know whether or not this is the latest

[2019-08-02 20:34] Tanya0609 commented on #879
Hi @ghuntley, thank you for proposing the idea. Just wondering, what are the user group of WebAssembly? Is this a language commonly been used to prototype/build a web project? Will someone be able to help to maintain it in a long run?

Our target users are web application programming learners, intermediate level developers.

[2019-08-02 20:37] Tanya0609 commented on #767
@vvatkov Glad to hear the problem is solved for you!

The PR should solve the problem in your local @vvatkov
Please let us know if you have further question :)

I will close this issue for now.

[2019-08-02 20:37] #767 closed, assigned to Tanya0609

[2019-08-02 20:37] Tanya0609 commented on #721
This is done, thus close the issue

[2019-08-02 20:37] #721 closed, assigned to nobody

[2019-08-02 20:39] Tanya0609 commented on #691
https://github.com/microsoft/WebTemplateStudio/pull/1004

This is done, thus close this issue

[2019-08-02 20:39] #691 closed, assigned to Tanya0609

[2019-08-02 20:40] #612 closed, assigned to nobody

[2019-08-02 22:59] #1005 closed, assigned to Tanya0609

[2019-08-02 23:27] #998 closed, assigned to jsondoo

[2019-08-03 00:13] #981 closed, assigned to streetcoder123

[2019-08-03 01:03] jcoc611-microsoft commented on #474
Sped up with CLI work replacing API

[2019-08-03 01:03] #474 closed

[2019-08-03 06:45] jsondoo commented on #872
Closing this - fixed with #893

Fixed with #928

[2019-08-03 06:45] #872 closed, assigned to nobody

[2019-08-06 16:46] jasmingoh opened #1015 "Use the new Azure SDK"
Update code to use this SDK (https://github.com/Azure/azure-sdk-for-js) instead. The SDK that we are using has been deprecated since July 2019 (https://github.com/azure/azure-sdk-for-node)

[2019-08-06 16:58] streetcoder123 commented on #978
@SahilTara We thought about this as well. I think we shall be settling on using `bootstrap-vue` to be consistent with other frameworks and have something explicit for vue as well.

[2019-08-06 18:48] xtinah-w opened #1020 "Make sure all modals have consistent UI in the system"
![redirectLicenseModals](https://user-images.githubusercontent.com/24245311/62567442-0f8fa280-b840-11e9-8547-2380d7e46af3.png)

[2019-08-06 20:44] xtinah-w opened #1023 "Improve post-generation modal to be scalable and more readable"
![postGenerationModalScalable-v2](https://user-images.githubusercontent.com/24245311/62742924-55419c00-b9f5-11e9-8964-06a19752ddd7.png)

[2019-08-06 23:30] #967 closed, assigned to SahilTara

[2019-08-06 23:45] jsondoo opened #1025 "Can't scroll on svg"
You can't seem to scroll or interact with the scrollbar on the circled area
![image](https://user-images.githubusercontent.com/21695878/62584473-8ee59c00-b869-11e9-84b6-4958283a7cfc.png)

[2019-08-07 17:03] xtinah-w opened #1030 "Add read-only project name to right sidebar on summary"
Users should know what they saved their project as (name-wise)

[2019-08-07 17:26] xtinah-w opened #1031 "Clicking "Create New Project" doesn't auto-populate project name and output path anymore"

[2019-08-07 18:29] streetcoder123 commented on #1030
@xtinah-w Can you upload a mock for this?

[2019-08-07 19:49] Tanya0609 opened #1035 "Generated Vue Code: Replace Boostrap with Boostrap-Vue"
The following Bootstrap should be replaced by Bootstrap-Vue Components:
- [x] Breadcrumb
- [x] Layout: Grid use stacked to horizontal BV layout
- [x] NavBar
- [x] Image

This is one sub point from #978

[2019-08-08 03:38] Tanya0609 opened #1039 "Fonts aren't consistent/ideal on Mac"
Where: Privacy/Redirect Modal and Post generation Modal
<img width="679" alt="Screen Shot 2019-08-07 at 8 33 02 PM" src="https://user-images.githubusercontent.com/12874317/62673419-41ddf480-b953-11e9-96dd-ad7e025e56ff.png">
<img width="554" alt="Screen Shot 2019-08-07 at 8 33 22 PM" src="https://user-images.githubusercontent.com/12874317/62673425-499d9900-b953-11e9-8717-50a543356f14.png">

[2019-08-08 03:41] Tanya0609 commented on #759
More details are from #681

[2019-08-08 03:50] SahilTara opened #1040 "Font size feels off in Learn more page"
Outside of learn more:
![image](https://user-images.githubusercontent.com/32103099/62673798-c9d0f800-b96d-11e9-966a-9de43dbbc514.png)

Inside of learn more:
![image](https://user-images.githubusercontent.com/32103099/62673850-f422b580-b96d-11e9-98b7-1ea1d67a99b1.png)

I think the font size should be larger here. Back button should also be higher up.

[2019-08-08 03:53] SahilTara opened #1041 "Licenses on learn more page don't show a modal confirming redirect like with view Licenses button."
Steps to repro:
1) Go to any "Learn more" page with licenses.
2) Click on it
3) Observe the instant redirect

![image](https://user-images.githubusercontent.com/32103099/62673999-7c08bf80-b96e-11e9-8e7b-4f06651c8d0a.png)

[2019-08-08 04:09] Tanya0609 opened #1042 "Console Error when start the wizard/sync"
<img width="575" alt="Screen Shot 2019-08-07 at 9 07 41 PM" src="https://user-images.githubusercontent.com/12874317/62674514-94b9ab00-b957-11e9-8682-6f4352f127ad.png">

[2019-08-08 04:40] SahilTara commented on #1042
This is an old issue @Tanya0609 see #82 It isn't our issue. It is an issue within vscode!

[2019-08-08 04:58] SahilTara commented on #1042
It seems that the current issue is due to azure app service.

Here's a stack trace:
[code]

[2019-08-08 05:35] SahilTara commented on #1042
I think it'll be fixed in the next version of appservice! I tried compiling their master branch and the buffer issue doesn't seem to show up! Try it out yourself by downloading this [VSIX](https://1drv.ms/u/s!Appk4R2_-NGbdjY5VcunvdtgzaI?e=czoCpo) and clicking install from vsix in vscode, after uninstalling the normal azure appservice. If the buffer issue still persists repeat the process with Insi

[2019-08-08 16:20] #1020 closed, assigned to streetcoder123

[2019-08-08 17:15] #983 closed, assigned to jasmingoh, jsondoo

[2019-08-08 17:26] streetcoder123 commented on #536
This is fixed. Now, if only 1 azure function is left, you can only delete the azure functions group and not the individual azure function.

[2019-08-08 17:26] #536 closed

[2019-08-08 17:29] #1035 closed, assigned to Tanya0609

[2019-08-08 17:42] streetcoder123 commented on #847
@jasmingoh Is this still an isssue?

[2019-08-08 17:44] streetcoder123 commented on #637
@jasmingoh Should we close this issue?

[2019-08-08 17:46] streetcoder123 commented on #505
@jsondoo Can you reproduce this?

[2019-08-08 17:46] Tanya0609 commented on #937
@annielovesjs Is this issue should be fixed by Pitor and your PR?
https://github.com/microsoft/WebTemplateStudio/pull/954

[2019-08-08 17:47] Tanya0609 commented on #900
@xtinah-w  @annielovesjs will this issue be fixed by this PR? #954

[2019-08-08 17:48] streetcoder123 commented on #398
@annielovesjs Is this done?

[2019-08-08 18:00] streetcoder123 commented on #1040
@xtinah-w Thoughts?

[2019-08-08 18:06] Tanya0609 commented on #427
I tried to reproduce this bug. This bug has been prevented with new features added in the wizard.

1. when user tried to sign out anything, a popup will show up to confirm their action. Then added Azure services will be automatically removed.
2. when user is in post generation modal, anywhere outside of the modal is not clickable, so user won't be able to sign out at this stage.

thus, close this

[2019-08-08 18:07] Tanya0609 commented on #359
This is related to re-design the paging name logic.

[2019-08-08 18:35] streetcoder123 commented on #505
This issue has been fixed.

[2019-08-08 18:35] #505 closed

[2019-08-08 19:33] jsondoo opened #1046 "App Service form error strings"
The error message should change to "Site Name ___ is not available"
![image](https://user-images.githubusercontent.com/21695878/62732186-9c6d6400-b9d8-11e9-9772-79630c3d50bf.png)

[2019-08-08 19:47] jsondoo opened #1048 "Azure App Service + Cosmos form - missing error message on empty site name"
Currently if the name field is empty, there is no message, we just show a spinner. We should provide some feedback with a message like "Name cannot be empty"

![image](https://user-images.githubusercontent.com/21695878/62733040-a3957180-b9da-11e9-99ac-3eb1bdaf88ac.png)

Current Status:
![AzureNameMessage](https://user-images.githubusercontent.com/1333036/123231381-7243c300-d4d8-11eb-8b61-61c4debc2

[2019-08-08 19:55] jsondoo opened #1049 "Azure forms - code improvements"
Currently the azure services forms are hard to maintain because they are all separate components despite sharing the same logic, styles, etc. This means that if you want to change a button placement, or some behavior for the form, it has to be applied to all the form files separately. It would be nice to have some of this refactored, so that it shares certain things between the forms.

It would al

[2019-08-08 20:10] Tanya0609 commented on #398
We have alt text on every svg, but it is in English.

[2019-08-08 20:31] #997 closed, assigned to streetcoder123

[2019-08-08 20:59] SahilTara commented on #1049
I feel like you shouldn't move away from hooks. Hooks are the direction Facebook seems to be taking React. I would restructure the use of hooks though. Hooks that use timeout seems a bit weird. I do agree that you should abstract some functionality out too, so much reused code. @jsondoo What do you think?

[2019-08-08 21:39] jsondoo commented on #1049
@SahilTara yea, just some restructuring might be better. In my experience with hooks (at least with the forms) is that it was hard to keep track of what is happening with all the stuff I mentioned, so maybe some clean-up would make it more maintainable. But I agree, they're very useful and simple way to keep track of its own state.

[2019-08-08 21:56] #637 closed, assigned to nobody

[2019-08-08 21:57] jasmingoh commented on #847
Yes, this is still an issue

[2019-08-08 22:14] SahilTara commented on #427
@Tanya0609 so running the azure signout command within the command pallet updates the users signin status in the wizard? (Ctrl shift p) I dont think this issue is fixed its OOS though since its up to vscode to expose the API

[2019-08-08 22:19] xtinah-w commented on #1030
![projectDetails-projectNameLocation](https://user-images.githubusercontent.com/24245311/62741474-e1e95b80-b9ef-11e9-9a5a-6631144f87b2.png)

[2019-08-08 22:20] xtinah-w commented on #1040
Yeah, agreed! I'll update the design right after I finish post-generation modal and Azure Resource forms :)

[2019-08-08 23:40] #1031 closed, assigned to streetcoder123

[2019-08-09 04:49] jasmingoh opened #1057 "Creating project with same name"
![image](https://user-images.githubusercontent.com/20333350/62754728-f6e0e180-ba25-11e9-9f96-058acc34b6f6.png)

Steps to repro:
(save all projects to the same "Save To" location)
1. Create a project with a name, e.g. `jasmin`
2. Launch the wizard again, enter a valid project name, click on quick start
3. Go back to the home page and change the name to `jasmin`
4. "Create Project" button is still e

[2019-08-09 05:26] jsondoo commented on #538
@amrrsharaff @dandua98 How were you guys planning on implementing this?

After investigating a bit, I found these:
1) We could try generating .vscode folder with this setting `"workbench.startupEditor": "readme",` in settings.json, but it seems that this specific workspace setting cannot override the user setting. No other setting seemed suitable
2) I looked into the [VSCode commands API](https://

[2019-08-09 05:30] dandua98 commented on #538
Seems perfectly fine to go with ‘workbench.startupEditor’ to me. Most users would rarely override that setting anyway and if they did, you probably don’t wanna get in their way and force your workflow on them

[2019-08-09 17:12] jsondoo commented on #1046
Seems like this is fixed now (?)

![image](https://user-images.githubusercontent.com/21695878/62796322-ce8ccd80-ba8d-11e9-9465-5ab959e388a9.png)

[2019-08-09 17:14] jsondoo opened #1062 "Postgen modal azure links don't redirect correctly"
The links we have for the 3 services are:
1) Functions: https://portal.azure.com/#blade/WebsitesExtension/FunctionsIFrameBladeMain
2) Cosmos DB: https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.DocumentDb%2FdatabaseAccounts
3) App Service: https://ms.portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.Web%2Fsites

CosmosDB and Ap

[2019-08-09 17:38] Tanya0609 opened #1063 "Accessibility Issues"
- [x] Next button in the footer should redirect to the top of the panel rather than staying in the footer
- [ ] Azure Services Forms: add heading/label to enhance navigation; show focus for radio button and input files; at the moment when you select a resource group from drop down and hit the enter, it changes the focus and focus goes back to the background page

[2019-08-09 18:12] #991 closed, assigned to nobody

[2019-08-09 18:36] SahilTara commented on #1062
By the way you might want to change `ms.portal.azure.com/` to `portal.azure.com`

[2019-08-09 18:44] #1057 closed, assigned to streetcoder123

[2019-08-09 20:10] streetcoder123 commented on #620
@xtinah-w Should we close this issue now as fixed?

[2019-08-09 20:29] streetcoder123 commented on #590
For this one, the testing environment and the build pipeline has been set. However, only 1 actual test has been written.

[2019-08-09 20:32] jsondoo commented on #590
@sibille can this be closed?

[2019-08-09 20:33] jsondoo commented on #590
Currently there are two unit tests, one for App.tsx and one for Card.tsx. We added a new command to package.json `test: react-scripts test --coverage` which uses the react-scripts Jest testing framework. This command is also run in our build pipeline

[2019-08-09 20:48] streetcoder123 commented on #459
@xtinah-w Todo after summer?

[2019-08-09 20:49] streetcoder123 commented on #458
Default output path has been implemented.

[2019-08-09 20:49] #458 closed

[2019-08-09 22:10] #1041 closed, assigned to streetcoder123

[2019-08-09 22:41] #1030 closed, assigned to streetcoder123

[2019-08-10 02:34] SahilTara commented on #1062
Hmm odd, not sure if i understand the issue.
![image](https://user-images.githubusercontent.com/32103099/62816458-cff1e080-baf5-11e9-9de2-d93869f0af16.png)
is this not the right page? (Clicked on client side)

[2019-08-12 00:16] Tanya0609 opened #1067 "Feedback on generated React code"
The following feedback are from one of the React experienced users:

- [x] class property init (rather than instructor)
- [x] the way to bind the class functions
- [x] Naming convention
i.e. Grid.state.WarningMessageOpen normally camel case instead of pascal for variables
i.e. folder name should have underscore i.e. 'Master_Detail'
- [x] for constants, styles and images, don't recommend relative p

[2019-08-12 16:34] jsondoo commented on #1062
@SahilTara that is the right page, it seems to work when you click on the link on the running it on the browser, but for some reason it takes you somewhere else when you click the link through the vscode extension

[2019-08-12 16:39] SahilTara commented on #1062
Hmm that's really strange

[2019-08-12 17:52] xtinah-w opened #1073 "Revise Azure Services Form for better readability + visual hierarchy"
![appServiceInstance](https://user-images.githubusercontent.com/24245311/62885680-55d87c00-bcee-11e9-8d85-e840d19c983d.png)

- [x] Increase padding between unrelated sections to break up visual hierarchy
- [x] Label caption should be smallest text with 80% opacity
- [x] App Service plan section should have removed heading

[2019-08-12 18:33] jsondoo commented on #1062
It seems like if you left click it takes you to the 'All Resources', if you do middle click it takes you to the correct places. Possible solution might be just change it to an <a /> tag rather than ReactMarkdown

[2019-08-12 19:58] #1046 closed, assigned to nobody

[2019-08-13 18:39] Tanya0609 opened #1079 "Azure Service Forms Feedback"
Those are suggestions but open to discussion/new ideas:

- If a user selects two services. We can default the second resource's information, if used in the first one i.e. Subscription information

- App Service deployment: make the command show dynamically?

[2019-08-13 20:12] streetcoder123 opened #1080 "Modify Azure Service Text in Right Sidebar"
Currently, on the summary page (in the right sidebar), the Services section looks like this:

![image](https://user-images.githubusercontent.com/35667299/62973883-dfaa4700-bdcb-11e9-804c-eb64a192bcb6.png)

- The button seems like it is disabled.
- Text needs to be improved to make it apparent that it is optional to add services.

[2019-08-13 20:27] Tanya0609 opened #1081 "Add more App Service related instruction in generated README.md"
- What happens if you project without app service selected? It will build the project and deploy as App Service Extension full steps
- Where to get the URL
- Is the popup stick around? Include to the README just in case they miss the popup

[2019-08-13 23:11] jasmingoh commented on #1081
Yup, just added that step to the generated README

We will need to talk more about this

[2019-08-13 23:49] #1023 closed, assigned to Tanya0609

[2019-08-14 01:11] streetcoder123 commented on #888
App service is out of preview :)

[2019-08-14 01:11] #888 closed, assigned to Tanya0609, jasmingoh, jsondoo, xtinah-w

[2019-08-14 01:12] #620 closed, assigned to nobody

[2019-08-14 19:03] xtinah-w commented on #538
This is still the biggest user pain point that hasn't been addressed for the post-generated code experience!

[2019-08-14 19:19] xtinah-w opened #1086 "Remove yellow highlight on selection"
Causes too much confusion and uncertainty which we've gotten feedback on during user testing

[2019-08-14 21:09] SahilTara commented on #1086
Maybe change the thickness when you focus or enlarge the selected object instead or a combo of both (assuming this is for selections of pages and such).

[2019-08-14 22:21] Tanya0609 commented on #1081
This is has been done, thus close.

[2019-08-14 22:21] #1081 closed, assigned to jasmingoh

[2019-08-14 22:33] annielovesjs commented on #900
@Tanya0609 Yup! This issue is now resolved

[2019-08-14 22:33] #900 closed, assigned to nobody

[2019-08-14 23:07] #1025 closed, assigned to annielovesjs

[2019-08-14 23:32] xtinah-w commented on #1086
@SahilTara Yeah, I think the general consensus though from the user testing is to just remove the yellow highlight entirely since "selection" is signified by the green checkmark + thick white border showing the selection, so there doesn't need to be a 3rd visual cue that just keeps appearing/disappearing.

[2019-08-15 00:02] SahilTara commented on #1086
Hmm I think it's there more so to give a clear indicator for what is in focus when using tab navigation, so is removing the best choice here? @xtinah-w

[2019-08-15 00:05] xtinah-w commented on #1086
Tab navigation is different from active selection and the yellow highlight on click isn't a behaviour that exists in VS Code itself. I agree that tab navigation should have a blue active border (VS Code default active colour), but the yellow highlight isn't needed since there's already an active state that's visually shown when they select something (thick white border + green checkmark). The only

[2019-08-15 00:15] SahilTara commented on #1086
I think the yellow border appearing is due to the :focus being used for tab navigation. It does help with tabs but it has the unwanted side affect of the yellow artifact on click. We'll need to come up with a way to only disable it for on click, but keep it for tab navigation. Possibly change the colour too (right now it is set to be contrast) as you said, maybe not blue per-say as it would not co

[2019-08-15 01:03] #1039 closed, assigned to nobody

[2019-08-15 01:21] #988 closed, assigned to nobody

[2019-08-15 02:59] SahilTara commented on #538
I thought of a way to do this. Although the explorer tree-view by default remains unfocused so I feel like it wouldn't help too much. If the user opens the file explorer in vscode manually they would see their project is there (The readme would open automatically).

[2019-08-15 17:12] jsondoo opened #1095 "Generate a high contrast theme css for browser"
We currently have themes.css and themeslight.css for dark and light theme respectively to test in the browser. We should create one for high contrast theme

[2019-08-15 17:58] Tanya0609 opened #1096 "Fix Extension for High Contrast Theme"
Sync with @xtinah-w, some UI in the high contrast theme mode are not showing properly. In High Contrast, everything should be dark background and blue boarder highlight.

<img width="1280" alt="Screen Shot 2019-08-20 at 10 23 00 PM" src="https://user-images.githubusercontent.com/12874317/63404856-a0ff2880-c399-11e9-8a19-4382248de2c7.png">
<img width="1234" alt="Screen Shot 2019-08-20 at 10 23 43 P

[2019-08-15 19:51] Tanya0609 opened #1099 "UI issue when generate 20 pages with long names"
If you try to generate 20 pages for any frameworks selection and name some of them long names, this is how the UI looks like: the nav bar is longer than the footer.

Notice you can scroll horizontally so the whole top nav menu appears

![20-pages-long-name](https://user-images.githubusercontent.com/12874317/63122373-71948a00-bf5b-11e9-9382-ea1288d112ab.PNG)

[2019-08-15 20:06] Tanya0609 opened #1100 "extension UI: page naming validation alter overlap with other pages"
How to reproduce:
1. go to the extension and select multiple pages
2. try to rename one of the page with more than 50 chars

![error-message-overlapping](https://user-images.githubusercontent.com/12874317/63123258-68a4b800-bf5d-11e9-83d9-9c9e05310ce9.PNG)

[2019-08-15 21:04] jsondoo opened #1102 "Emojis in"

[2019-08-15 21:04] #1102 closed, assigned to nobody

[2019-08-15 21:06] jsondoo opened #1103 "Having emojis in 'Save To' path, then generating and opening project fails"
Steps To Reproduce
1) Create a new folder with unicode characters in the folder name
2) Select that folder to be your 'Save To' path
3) Click 'Create Project' then 'Open Project'

![image](https://user-images.githubusercontent.com/21695878/63126916-e4a2fe00-bf65-11e9-88a3-8fb94f52437c.png)

[2019-08-15 21:23] PhaseRush commented on #1103
nooo not my emoji files :(

[2019-08-15 21:25] jsondoo opened #1104 "Dragging pages on the right side bar makes the item being dragged go under the right side bar"
![Screenshot (33)](https://user-images.githubusercontent.com/21695878/63127900-7c095080-bf68-11e9-8f6d-1dad8bc8fc39.png)

[2019-08-15 21:46] streetcoder123 opened #1105 "Right Sidebar closes abruptly when deleting pages"
Steps to Reproduce:
- Add a few pages to an application
- Remove pages from the right sidebar
- As soon as 1 page is left, the sidebar closes abruptly
- Then, as you add a page, it abruptly appears again.

[2019-08-15 21:52] ali-kha opened #1106 "Closed right sidebar is still tabbable"
Steps to Reproduce:
1. Go to any page with a collapsible sidebar
2. Have the sidebar be closed
3. Tab through the page
4. When tabbing seems to be invisible, the tab is in the sidebar, try counting tabs and doing things like changing frameworks, etc as if the sidebar was open.

[2019-08-15 22:08] streetcoder123 opened #1107 "Add Error Handling for Web Template Studio: Deploy App Command"
Currently, the command does not show any errors if any of the processes like below fail.
- `npm install`
- `npm run-script build`

We need to add error handling for this so that we can tell the user that deployment is unsuccessful with a reasonable error message.

[2019-08-15 22:25] SahilTara commented on #1099
Ah haha I remember this thing. Best thing would be to Transform the overflowing elements into a dropdown or something.

[2019-08-15 22:28] SahilTara commented on #1103
Haha yeah we experimented with emojis. We tried to block the user from being able to input emojis and such because we knew it broke stuff. I think at one point we tried out emoji project names and such. Didn't end well 😂. "🔥 🔥" was our test project name to break all the things.

[2019-08-16 17:33] annielovesjs opened #1109 "Preview page picture disappears on small screens"
When you shrink the screen on preview page, the page preview picture shrinks and is almost gone

![preview page shrinks](https://user-images.githubusercontent.com/31115095/63186425-381e5600-c011-11e9-862a-c1fd7af639d7.PNG)

[2019-08-19 01:28] hudyyy commented on #767
Thank you for solve this problem，and so sorry for no reply,  Because im so busy these few months:)

[2019-08-19 18:25] xtinah-w opened #1111 "Improve Azure Services experience based on user research feedback"
![newAzureServicesFlow](https://user-images.githubusercontent.com/24245311/63288996-e70d9c80-c272-11e9-999a-56330676601b.png)
![azureServicesFlow-master](https://user-images.githubusercontent.com/24245311/63288560-df012d00-c271-11e9-9fc3-1d49082d5b37.png)
After conducting user testing with intermediate web app developers, the current existing design still doesn't fulfill the knowledge needed to fe

[2019-08-19 20:40] #1073 closed, assigned to jsondoo

[2019-08-19 21:31] jsondoo commented on #1062
This is an issue with VSCode so waiting on them to fix it (or maybe there's a workaround)
Basically, VSCode decodes the '%2F' in the link into a slash

https://github.com/microsoft/vscode/issues/25852#issuecomment-462167101

[2019-08-19 22:47] SahilTara commented on #1062
Think you mean to add https://github.com/microsoft/vscode/issues/45515 (if you scroll down in the link you posted they track decoding on the linked issue).

[2019-08-19 22:48] #1040 closed, assigned to xtinah-w

[2019-08-19 22:53] SahilTara commented on #1104
Z index?

[2019-08-19 23:10] streetcoder123 commented on #1106
@ali-kha This is fixed, right?

[2019-08-20 00:43] Tanya0609 commented on #1111
Answers to questions in the sign in modal:
https://azure.microsoft.com/en-us/free/

[2019-08-20 01:23] jsondoo commented on #1106
fixed with #1108

[2019-08-20 01:23] #1106 closed, assigned to nobody

[2019-08-20 01:31] jsondoo commented on #1062
Thanks, updated

[2019-08-20 05:45] SahilTara commented on #1111
I think this should only be done when you click create resource group. Otherwise it should still allow you to (I think this is what you meant as well just wanted to be sure)

[2019-08-20 05:48] SahilTara commented on #1103
Just wondering does anything happen when having non-english characters that fall into the unicode spectrum in the path?

[2019-08-20 08:41] SahilTara commented on #1105
What is intended? Once pages modified it remains open, unless otherwise closed?

[2019-08-20 16:34] streetcoder123 commented on #1105
Yeah, I think the ideal behavior should be to open the sidebar once the user starts to modify the pages and keep it open there after until explicitly closed.
What do you think @xtinah-w ?

[2019-08-20 17:27] jsondoo commented on #1103
Yea, stuff like chinese characters will fail

[2019-08-20 20:58] #978 closed, assigned to nobody

[2019-08-20 21:15] #1109 closed, assigned to streetcoder123

[2019-08-20 22:31] jasmingoh commented on #1111
We'll just default everything to Central US

[2019-08-20 22:35] streetcoder123 opened #1120 "Add Logs for Deploy App command"
The `Web Template Studio: Deploy App` command should have logs show up when installing dependencies and building the project. This way, it would keep the user engaged and update about the progress of the deployment.

[2019-08-20 22:43] #1103 closed, assigned to streetcoder123

[2019-08-21 00:01] jasmingoh commented on #902
duplicate #1111

[2019-08-21 00:01] #902 closed, assigned to nobody

[2019-08-21 01:17] SahilTara commented on #1086
Hey @xtinah-w I removed the yellow highlights off of the selected items. (Frameworks and such). Can you confirm or let me know anything else you want the yellow highlights off of. Kept it for tab nav. Removed for on click. On click you get the white border only, on tab you get the yellow one.

[2019-08-21 01:22] xtinah-w commented on #1111
@jasmingoh
![newAzurePageforStudents](https://user-images.githubusercontent.com/24245311/63395336-3ab5de00-c378-11e9-9828-d634409384b2.png)

[2019-08-21 05:47] Tanya0609 commented on #1096
[docs of overwrite vs code colors](https://code.visualstudio.com/api/references/contribution-points#contributes.colors)

[docs editor widget colors](https://code.visualstudio.com/api/references/theme-color#editor-widget-colors)

[docs editor colors](https://code.visualstudio.com/api/references/theme-color#editor-colors)

[2019-08-21 17:42] Tanya0609 commented on #759
We create a new issue for new feedback got, thus closing this issue

[2019-08-21 17:42] #759 closed, assigned to nobody

[2019-08-21 18:26] Tanya0609 opened #1123 "Angular Feedback (New)"
## Angular Feedback from John Papa
Although the comments are documented based on each file, it apply to the entire generated project

### one liner / remove unnecessary comments and lines
- [x] Warning-message.module.ts: Make the arrays all one liners (smaller is better)
- [x] Removing extra lines makes generated code smaller (usually people like this)
- [ ] Master-detail.service.ts: @Injectable({

[2019-08-21 18:27] Tanya0609 commented on #1123
## Server related code

- [  ] BuildScript.js
- Put a comment at the top explaining what this script is for
- People may be confused why angular-cli is not being used

-[ ] Package.json
- Don't use nodemon, you don't want that to go to production
- Take out nodemon completely and just use node
- Right now nodemon is a devDependencies, this may break things when it's deployed

[2019-08-21 18:27] Tanya0609 commented on #1123
### Accessibility
- [x] Accessibility standards for Angular code should be considered (for example, alt text on images, aria role)

### CSS
- [x] If necessary, clean up app.component.css. The CSS here will be inherited by all the children.
- [ ] double check the way we import svgs, is it the way to import svgs in css? If not, then fix it.

[2019-08-21 18:27] Tanya0609 commented on #1123
- [  ] Environments
- Add a comment to both prod and dev file to explain the difference between the two

- [  ] Main.ts
- Looks good 😊
- Consider looking into progressive apps (PWA)

[2019-08-21 18:29] Tanya0609 commented on #1123
Although the comments are documented based on each file, it applys to the entire generated project

[2019-08-21 21:24] NLI-KelbyHunt commented on #200
Hoping for a couple of templates out of this;

- ASP Core MVC Razor
- ASP Core Razor Component
- ASP Core Worker Service

Probably more.

[2019-08-21 22:31] AndreMaz opened #1124 "Add MoleculerJS"
[Moleculer](https://moleculer.services/) is a progressive microservices framework for Node.js. It is highly customizable and has a lot of [cool features](https://moleculer.services/docs/0.13/index.html#Features). It also has a [project template](https://github.com/moleculerjs/moleculer-template-project#moleculer-template-project) that can be modified/adapted, and be added to the WebTemplateStudio.

[2019-08-22 02:21] paul0027 opened #1125 "Could not sync to template repository"
Repro steps:

1.
2.

Action: Sync-Engine
Error type: Error
Error Message: Could not sync to template repository

Version: 0.0.1922901
OS: win32
VS Code Version: 1.37.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-22 03:18] o0beaner opened #1126 "Golang backend support"
Would love to see support for Go on the backend for scalable applications.

[2019-08-22 03:52] michael-watson opened #1127 "Unable to debug extension"
I'm unable to launch/debug on the dev/staging branch. I was hoping to contribute some templates. Is this a known issue?

My error:
[code]

[2019-08-22 04:37] mmcelroy90 opened #1129 "React-Redux option"
It would be awesome to have an option to use React-Redux (TypeScript and JS versions) when selecting a React app. Ideally this would also come with a few pre-built pages for initial store setup, etc.

I believe the initial setup is non-trivial and it is popular enough to be a useful feature.

[2019-08-22 06:28] SahilTara commented on #1127
Hey, thanks for the issue.
I think you should check out [our getting started for developers](https://github.com/microsoft/WebTemplateStudio/blob/dev/docs/getting-started-developers.md).

If you have all the pre requisites there try doing ./build and debugging again (or follow the detailed steps). Let us know if the problem persists!

[2019-08-22 06:34] SahilTara commented on #1125
@Tanya0609 Regression of #601? Or do you think this is a different issue?

[2019-08-22 07:59] abdamawi2009 opened #1131 "subscription-data-for-app-service"
Repro steps:

1.
2.

Action: subscription-data-for-app-service
Error type: Error
Error Message: Entry not found in cache.

Version: 0.0.1922901
OS: win32
VS Code Version: 1.38.0-insider

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-22 08:05] marcoholmes opened #1132 "Error: Could not sync to template repository"
Repro steps:

1.
2.

Action: Sync-Engine
Error type: Error
Error Message: Could not sync to template repository

Version: 0.0.1922901
OS: win32
VS Code Version: 1.37.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-22 14:16] dsaints2344 opened #1133 "Missing "custom" features for framework selection"
Currently, when selecting frameworks (back-end and front-end), only the default of each one is the only configuration available, each CLI of each framework, allow for some variations inside the configuration (e.g.: using Typescript instead of Javascript on React).

[2019-08-22 16:38] Tanya0609 commented on #1132
Hi @marcoholmes, thank you for reporting!

Could you try restart the extension and see if the error still happens?

If so, some more questions to further diagnose and try to repro:

- What exact OS version are you using?
- Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? Could you share them?
Edited: the path is %LocalAppData%\WebTs\Logs for windows

[2019-08-22 16:43] Tanya0609 commented on #1127
This file is from our git submodule.

You would need to do _git submodule init_ and _git submodule update_

More instructions can be found in the link provided by @SahilTara

[2019-08-22 16:47] Tanya0609 commented on #1125
@Bagobie , thanks for reporting.
Could you try restart the extension and see if the error still happens?

If so, some more questions to further diagnose and try to repro:

- What exact OS version are you using?
- Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? Could you share them?

[2019-08-22 17:28] #1105 closed, assigned to nobody

[2019-08-22 17:47] jsondoo commented on #1133
@dsaints2344 thanks for the suggestion, supporting TypeScript is a great idea

[2019-08-22 18:19] Tanya0609 commented on #1129
Hi @mmcelroy90, thanks for the feedback, this is a great idea! We will log them in our backlog.

[2019-08-22 18:21] Tanya0609 commented on #1127
I will close this issue first, please let us know if you have any more question :)

[2019-08-22 18:31] streetcoder123 commented on #1126
Thanks for the suggestion @o0beaner
Golang is a great candidate for a backend framework

[2019-08-22 19:40] CodeBroJohn commented on #1132
I am having the same issue. I did have to manually create the directory:
/.local/share/WebTS/

Even afterwards I got the issue and no Log folder.

I can also verify that I do have complete admin access read/write on my system including my user folder.

[2019-08-22 20:17] jasmingoh commented on #1131
Hi @abdamawi2009, could you could re-launch the extension and let us know if the issue persist? It would help us a lot if you can document the steps to reproduce this error!

[2019-08-22 20:48] jasmingoh opened #1134 "Include Cosmos Node SDK when Cosmos is added to project"
@markjbrown reached out and suggested to include Cosmos Node SDK as a part of the packages in the project when Cosmos is added in the project, `npm install @azure/cosmos`

[2019-08-22 21:24] SahilTara commented on #1134
In the generated code? Do we need to modify anything else? If not its a quick add. I think we do this for sql api, but not mongo let me recheck.

[2019-08-22 21:31] SahilTara commented on #1134
Yeah looking at how we did sql, we would need to change some stuff i would mark this as todo after summer.

[2019-08-22 21:49] markjbrown commented on #1134
Thanks @jasmingoh for creating this.

For Mongo you'd want to pull in their native Node.js driver.
npm install mongodb --save

Also note the connection string for MongoDB clients is also different. something like this,

mongodb://my-mongodb:26wA1hJzASD5s4EU4B2PFVOJ3Q92np63oTpnZacRiXmAfMPIsnmFsm4SO1W3cprXm1SPGCSzCoX2KbggnNJkHw==@my-mongodb.documents.azure.com:10255/?ssl=true&replicaSet=globaldb

Th

[2019-08-23 01:25] #1086 closed, assigned to nobody

[2019-08-23 02:48] michael-watson commented on #1127
I should have clarified, but I did follow those instructions closely. Just read and followed them again to receive the same error.

Here is a gist of my terminal output from the setup.
https://gist.github.com/michael-watson/14e84a62faea71f4c12b30d39a9f5666

Also shows I have that submodule active from the status:
[code]

[2019-08-23 03:06] michael-watson commented on #1127
I should also note that your tests pass successfully, but still get the error trying to launch the webtemplatestudio

<img width="791" alt="Screen Shot 2019-08-22 at 8 05 05 PM" src="https://user-images.githubusercontent.com/8645958/63564031-417b5700-c518-11e9-9e4e-b8aa9d6b4d6f.png">

[2019-08-23 03:44] SahilTara commented on #1127
`The current .NET SDK does not support targeting .NET Core 2.2.  Either target .NET Core 2.1 or lower`
Seems like your version is lower than the supported version. [Try it out with .NET Core 2.2](https://dotnet.microsoft.com/download/dotnet-core/2.2)

[2019-08-23 04:48] f1amy opened #1138 "PHP/Laravel backend support"
It would be nice to see support for php backend frameworks like laravel, for the beginning

[2019-08-23 06:05] andreifilip123 commented on #1132
Check out #601
It's the same problem.

[2019-08-23 06:05] andreifilip123 commented on #1125
Check out #601

[2019-08-23 07:17] SahilTara commented on #796
@njindal239 is this still an issue?

[2019-08-23 07:43] SahilTara opened #1139 "Should we ever have a peer to peer video + audio streaming page?"
What I mean by this is through the continued development of things like WebRTC, do you think we should support it in the extension at some point in the future? If so I will modify the issue to
"Add peer to peer streaming page". Right now I'm playing around with WebRTC for a side project so I was just wondering if we'd ever want to add it to the extension as well.

What I mean is peer to peer video

[2019-08-23 10:41] smmatte commented on #1139
Not at this time,  as this opens up new compliance, legal requirements and security issues

[2019-08-23 10:42] #1139 closed, assigned to nobody

[2019-08-23 13:02] denniswanjiru opened #1140 "Add close button on the "Creating Your Project" modal"
- Modal lacks close/exit button. Normally users click close(X) button or click outside the modal to exit the process.

[2019-08-23 13:07] PiotrekPKP opened #1141 "Error while loading extension"
Repro steps:

1.
2.

Action: Sync-Engine
Error type: Error
Error Message: Could not sync to template repository

Version: 0.0.1922901
OS: win32
VS Code Version: 1.37.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-23 14:14] dgleba opened #1142 "Self-Hosted"
Has anyone extended the generated app and self-hosted rather than use Azure? I wonder if that would be a huge job?

[2019-08-23 15:11] vsaroopchand commented on #1140
Create new project essentially resets the UI; however, a close button is needed. I spent some time looking at the implementation. Should close simply reroute to ROUTES.NEW_PROJECT? Let me know and I will send a PR.

[2019-08-23 15:33] vsaroopchand commented on #1126
Would love to send a PR for this, Go has some great web frameworks such as Ravel or use standard go package net/http. Let me know your preference.

[2019-08-23 16:23] michael-watson commented on #1127
I think my problem was I have Visual Studio for Mac installed also and the dotnet SDK was out of sync. I can verify that installing versions 2.2.401 .NET Core SDK and the 2.2.6 .NET Runtime are working for me. Thanks for your help.

[2019-08-23 16:23] #1127 closed, assigned to nobody

[2019-08-23 16:53] streetcoder123 commented on #796
@SahilTara Yes, I believe this is still an issue.

[2019-08-23 17:44] Tanya0609 commented on #1142
We take the generated project, build it (npm install and npm run build) or (yarn install and yarn build), then grab the built project and deploy it to Azure App Service.

If you have a generated project, depends on how you want to self-hosted it, you may need or may not need to build it, then you could self-hosted too. Hope this helps :)

[2019-08-23 17:44] Tanya0609 commented on #1138
Thank you so much for the feature proposal, we will add it into our backlog :)

[2019-08-23 17:47] Tanya0609 commented on #1141
Hi @PiotrekPKP, Thank you so much for reporting it!

Those are the steps to resolve this issue (same issue as #601):
**1. Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? Could you share them?** (it is a hidden file on Mac, not sure about win32)
Edited: the path is %LocalAppData%\WebTs\Logs for windows

**2. /Users/[username]/.local/share/WebTS/ is the folder where te

[2019-08-23 17:54] jsondoo commented on #1140
@xtinah-w any thoughts on the user flow here?

[2019-08-23 17:59] Tanya0609 commented on #1140
@DennisWanjiru Thank you so much for the feedback!

Could you elaborate a little more on the behavior of the close/exit button you would expect? Do you want it to show up so that you can reset the UI and start a new project? Or you just want to use it to close the modal?

[2019-08-23 19:05] TimGaither opened #1144 "Cannot find module 'eslint-config-react-app'"
I just want to run the generated app to see what it looks like but I continually get the error.

Does anyone know what needs to be done to fix the problem?

Thank you.

[2019-08-23 19:06] jsondoo commented on #598
We current localize all our strings on the client and the extension:
https://github.com/microsoft/WebTemplateStudio/wiki/Internationalization

Extra work is still needed to detect the user's locale, and also send our resource files off to be translated since we currently only support English.

[2019-08-23 19:18] Tanya0609 commented on #1144
Could you explain how you did it so that we can reproduce? Usually you would need to do "**npm install**" then "**npm start**" to start the generated app.

Also, have you checked out the README.md, there are instructions to run your generated app. It may help solve this error.

[2019-08-23 19:26] Tanya0609 commented on #1126
Hi @vsaroopchand, thank you so much for your passion and willingness to contribute :)

All our feature implementations are data-informed. For the frameworks, it would be great if you could help us do some comparative research on popular frameworks about Go, also please feel free to look at the [contribution guidelines](https://github.com/microsoft/WebTemplateStudio/blob/dev/CONTRIBUTING.md).

[2019-08-23 19:28] Tanya0609 commented on #1124
Hi @AndreMaz, thank you so much for your suggestion! It seems a great framework to consider, we will add it into backlog and investigate when we have dev capability!

Also, if you are interested in contributing, please feel free to look at the [contribution guidelines](https://github.com/microsoft/WebTemplateStudio/blob/dev/CONTRIBUTING.md).

[2019-08-23 19:35] EisenbergEffect opened #1145 "Aurelia 2 Option"
Aurelia is a popular front-end framework with tens of thousands of customers and a large overlap with the Microsoft community. As we prep for a major new version with Aurelia 2, it would be good to work together to have support for it in WebTemplateStudio.

Let me know how we can make this happen. I've got members of my team that work on our tooling, including VS Code tooling. I'd love to get ever

[2019-08-23 19:54] pkreddy04 opened #1146 "Getting error on 'npm start'"
Steps to reproduce this:
- Using windows 10, latest version of VS code
- Installed the extension 'Web Template Studio 2.0'
- Launched to generate a new project in WTS, chose Angular + Node
- Chose 1 page of each of the 4 page types in Blank, Grid, List, Master detail (No edits done to any files)
- Now do npm install and then npm start, you should see the error I am seeing below
- version: v10.16.2

[2019-08-23 20:58] jasmingoh commented on #1146
Hello @pkreddy04 , it would be awesome if you let us know to to reproduce this! Did you change any of the generated files? Can you try running `npm install` again?

[2019-08-24 00:01] danegigi opened #1147 "Svelte 3 Support"
Svelte and Sapper is growing and I think its a great alternative for React or Vue. What do you think having this as an option also? Thanks

PS: having other nodejs frameworks is also a great addition like Adonisjs, Koa, Hapi, etc....

[2019-08-24 00:04] pkreddy04 commented on #1146
Hi @jasmingoh , I have updated the description with the steps to repro.

I tried doing and npm install and npm start on the project which was created, still see the same error as reported

Let me know if you want me try anything or you need any other info from me. Thanks

[2019-08-24 01:43] SahilTara commented on #1146
Hey @pkreddy04, would you be able to tell me your node and npm versions?

Edited by @Tanya0609:
The line `loadChildren: function () { return import('./app-shell/blank/blank.module').then(function (mod) { return mod.BlankModule; }); }` failed is lazy loading syntax. It is a fairly new syntax. It may not be well-supported by some lower versions.

[2019-08-24 03:04] cesar128 opened #1148 "Getting error creating app with Master Detail page"
Im using Ubuntu18.04 all packages updated.

Vue.js
Flask
when i create and app and select Master Detail page it fails saying Templates could not be generated.

![Screenshot from 2019-08-23 23-02-40](https://user-images.githubusercontent.com/8787121/63631820-54feee80-c5fa-11e9-96ec-6a1cdc247e46.png)

[2019-08-24 08:11] denniswanjiru commented on #1140
<img width="1162" alt="Screenshot 2019-08-24 at 11 03 01" src="https://user-images.githubusercontent.com/22371596/63634506-156aed80-c660-11e9-8d7f-bee41b97247d.png">

Hello @Tanya0609 as a normal user I'd expect when I click anywhere outside the modal, the modal to close. Alternatively, we should have an (X) button as shown in the above image to have the same behavior.

@vsaroopchand I have seen t

[2019-08-24 09:54] SahilTara opened #1149 "Auto install dependencies"
Hey All,

I think due to the nature of our application we should auto install dependencies for the user's project. That is, we should run npm install and such before we tell the user project generation is complete. I think this will eliminate confusion that users may receive if they do not npm install.

We can also handle any errors that occurred this way.

Let me know what you think!

[2019-08-24 17:52] OlivierJM commented on #1149
The first time I tried the extension, I expected it to have installed the dependencies but it wasn't the case, I think it would be a great addition to the extension.
create-react-app already does this, so maybe we can use that.

[2019-08-24 18:46] Tanya0609 commented on #1148
Hi @cesar128, thank you so much for reporting this issue! We will investigate this issue and come back to you!

[2019-08-24 21:13] SahilTara commented on #1148
I feel like it has to do with composition order. If you can check it out @Tanya0609 that would be great. If not, I can look into it in a few hours!

[2019-08-25 08:00] RohanGautam opened #1150 "Python installation not detected"
Python is not detected, and I get an error: `Error Generating templates`. The folder created by Web Template studio doesn't work when I run it because of this.

![Screenshot from 2019-08-25 15-57-28](https://user-images.githubusercontent.com/17317792/63647266-13348c00-c751-11e9-83ec-5b311c82bf4a.png)

![Screenshot from 2019-08-25 15-59-26](https://user-images.githubusercontent.com/17317792/6364728

[2019-08-25 10:10] heyAyushh commented on #659
I want to work on this 👋

[2019-08-25 10:58] SahilTara commented on #1150
Thank you so much for reporting this! Will look into this today!

[2019-08-25 14:20] SahilTara commented on #1150
Yeah definitely thanks for reporting, turns out the version of anaconda you're using reports to stderr instead of stdout. This could be fixed on your side by upgrading to a newer version of Anaconda, but we say that we support Python 3.5+ so we shouldn't force the user to upgrade. So my latest PR introduces a fix. I will let you know once the PR goes to the production extension!

[2019-08-25 14:22] SahilTara commented on #1148
Hey @cesar128, thanks for the issue report. We found the source of the problem. Should be fine next update. Will ping you on this issue once its live in the production version of the extension!

[2019-08-25 15:00] RohanGautam commented on #1150
I see. Thanks for your time!!😊

[2019-08-25 15:03] pkreddy04 commented on #1146
Hi @SahilTara, Updated desc. Thanks

[2019-08-25 16:21] smadgerano commented on #200
Just wanted to add my voice to this, as well as the suggestions by @NLI-KelbyHunt I would also add in ASP Core Razor Pages as a good first stage, with Blazor afterwards - this would make scaffoilding a new project sooooooo much easier and I would love you forever MS, promise, pinky promise :)

[2019-08-25 16:52] IvanJosipovic commented on #200
ASP.Net Core and Blazor are a must!

[2019-08-25 21:38] lyluongthien opened #1154 "Preprocessor Option for Angular"
It would be awesome to have an option to choose another preprocessor ( SCSS, LESS..),   when selecting an Angular app. Ideally this would also come with a few pre-built pages for initial store setup, etc.
It takes a lot of time to convert project to SCSS because the default is CSS

I believe this feature is popular enough to be a useful feature.
#feature-request

[2019-08-26 06:29] mcmxcdev commented on #1123
@Tanya0609, I would like to work on this, since I have a couple years experience with Angular and worked with Angular 2-8 and know a thing or two about best practices ;)

The issue is very big though, imo it should be split up into multiple issues? At least PWA, http interceptors, authentication

[2019-08-26 12:45] traore-i commented on #1123
@mhatvan I agree with potentially splitting this issue. May make things easier when cross-referencing PRs to a specific part of the feedback

[2019-08-26 12:54] dangus21 opened #1155 "Extension will not launch"
Repro steps:

1.
2.

Action: Sync-Engine
Error type: Error
Error Message: Could not sync to template repository

Version: 0.0.1922901
OS: win32
VS Code Version: 1.37.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-08-26 14:39] cesar128 commented on #1148
Thanks @SahilTara for your quick response! im glad i had a chance to contribute to this amazing project!

[2019-08-26 17:35] vsaroopchand commented on #1126
They all have pros/cons which is widely discussed online. Going by the JS default, GO's standard lib is probably good enough. Here is a rundown of some of the popular options.

Net/http (standard lib) - good enough for simple sites
[see doc](https://golang.org/pkg/net/http/)

Mux
[see repo](https://github.com/gorilla/mux)

Ravel
[see repo](https://github.com/revel/revel)

Gin
[see repo](https://gi

[2019-08-27 01:13] Tanya0609 commented on #1125
@SahilTara, it seems like they are the same issue based on the call stack

[2019-08-27 01:23] Tanya0609 commented on #1155
Hi @dangus21, thank you so much for reporting this issue!

Those are the steps to resolve this issue (same issue as #601):
1. Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? Could you share them? (it is a hidden file on Mac, not sure about win32)

2. /Users/[username]/.local/share/WebTS/ is the folder where templates are synchronized. Does your user have write permis

[2019-08-27 01:26] Tanya0609 commented on #1132
Hi @CodeBroJohn,

1. just double check, when you mentioned you created `/.local/share/WebTS/`, did you mean `/Users/[username]/.local/share/WebTS/ `?

2. after you manually created the directory, have you tried restart the VS code and run the extension again?

[2019-08-27 01:27] Tanya0609 commented on #1125
Hi @Bagobie,

Those are the steps to resolve this issue (same steps as mentioned in #601):
1. Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? Could you share them? (it is a hidden file on Mac, not sure about win32)

2. /Users/[username]/.local/share/WebTS/ is the folder where templates are synchronized. Does your user have write permissions on /Users/[username]/.loca

[2019-08-27 01:32] Tanya0609 commented on #1132
Those are the steps to resolve this issue (copied from steps in #601):

1. Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? Could you share them?

Edited: it should be %LocalAppData%\WebTS\Logs, the one i shared was for Mac

2. /Users/[username]/.local/share/WebTS/ is the folder where templates are synchronized. Does your user have write permissions on /Users/[usernam

[2019-08-27 01:52] Tanya0609 commented on #1146
Hi @pkreddy04, we investigate more on this issue. This is related to upgrade to Angular 8 and the webpack package version under npm. This exists for other users using angular-cli too, [link ](https://github.com/angular/angular-cli/issues/14566)to their GitHub issue.

There are three approaches that you can try:
1. Could you try following commands?
[code]
2. If it still doesn't work, could you try

[2019-08-27 02:08] Tanya0609 commented on #1146
More quote from [that issue post](https://github.com/angular/angular-cli/issues/14566):

[2019-08-27 02:12] SahilTara commented on #1125
For windows its: %LocalAppData%\WebTS\Logs

[2019-08-27 02:59] SahilTara commented on #1146
Also: https://github.com/angular/angular-cli/issues/14589#issuecomment-509544127
Try this before switching to yarn. If this solution fixes your issue then we'll just have to update our dependencies probably.

It does have to do with webpack and such though as Tanya mentioned earlier.

[2019-08-27 03:27] Tanya0609 commented on #1149
@sahilTara Totally agree with you, when we did the user testing, quite a lot users are expecting to have dependencies installed and they just need to do `npm start`.

[2019-08-27 03:38] SahilTara commented on #1149
Okay I'll work on this then!

[2019-08-27 03:45] SahilTara commented on #1149
Hey @OlivierJM
Yeah we actually used create react app to bootstrap a part of the generated code, but I don't think it will help with the dependency loading due to the way the project is structured. Create react app is usually great for 0 pages, but will mess with our multi page structure I think. I think the merging for it will be a bit too dynamic, and will have a tendency to break. If you have a

[2019-08-27 08:02] SahilTara commented on #1155
Should be %LocalAppData%\WebTS\Logs

[2019-08-27 17:59] CodeBroJohn commented on #1155
@SahilTara thanks!

That is the proper location. In my case there was a permissions issue in a deeply nested folder C:\Users\[username]\AppData\Local\WebTS\Templates\Dev\Web\Any\0.0.19229.1_tmp can't be rename. I changed permissions for folder 0.0.19229.1 and it fixed the issue.

[2019-08-27 18:03] CodeBroJohn commented on #1132
@Tanya0609

Yes I did mean that. Manually creating the directory there did not fix the issue for me.

However,
Going to the following path and changing permissions of the 0.0.19229.1 folder did.

C:\Users\[username]\AppData\Local\WebTS\Templates\Dev\Web\Any\0.0.19229.1

I think this is the likely culprit for most people reporting this issue.

[2019-08-27 21:42] #1148 closed, assigned to nobody

[2019-08-28 08:45] SahilTara commented on #1141
The file location sbould be %LocalAppData%\WebTs\Logs for windows let us know if its a permissions issue since that is what one user reported.

[2019-08-28 17:22] Tanya0609 commented on #1123
Hi @mhatvan, thank you for helping out with contributing 👍The reason why this issue is big is that we used it as a placeholder of all the feedback we got from John and we weren't sure if we have capacity to work on it or not. Agree with you, we can split them into PWA, http interceptors, authentication and the basics.

Also, we already have issues for authentication and PWA, it applies to all the

[2019-08-28 17:32] Tanya0609 opened #1159 "Add Http Interceptor for Angular"
This is a sub issue from #1123, based on @mhatvan and @traore-i suggestion, we are splitting 1123 into sub issues so that it is more convenient for contribution and PR cross reference.

Introduce Http interceptor and use it in all the potential places in the generated angular code ( there are 4 page templates in total, a PR should address all of them.) You just have to set it up once, and it's a h

[2019-08-28 17:35] Tanya0609 commented on #595
One of the feedback we got for Angular is to consider looking into progressive apps (PWA) (in generated main.ts file)

[2019-08-28 17:38] Tanya0609 opened #1160 "Feedback on generated server side code"
This is a sub issue from feedback on generated angular project #1123. In the feedback, there are few are related to the server side code.

## Server related code

- [ ] buildScript.js

- Put a comment at the top explaining what this script is for, since this is a file added by us for App Service deployment. People may be confused why angular-cli is not being used

- [ ] Package.json

- Don't use n

[2019-08-28 17:45] Tanya0609 commented on #1154
Thank you so much for your feedback, we will log the the request first :)

[2019-08-28 18:27] Tanya0609 opened #1161 "Feedback on generated code styling"
This is a sub issue from Angular Feedback #1123

### Angular
Pure CSS or Angular Material would be the best option (no bootstrap)

[2019-08-28 18:51] Tanya0609 commented on #1155
We are glad it works for you now!

We will close this issue.

[2019-08-28 18:51] #1155 closed, assigned to nobody

[2019-08-28 18:55] Tanya0609 commented on #1132
Thanks for pointing out and sharing 👍

[2019-08-28 20:47] #1150 closed, assigned to nobody

[2019-08-28 20:48] jasmingoh opened #1162 "Problem with open/close state in right bar when navigate"
https://github.com/microsoft/WebTemplateStudio/pull/1136#issuecomment-524755600 and https://github.com/microsoft/WebTemplateStudio/pull/1136#issuecomment-525923107

[2019-08-29 08:58] RichardC64 opened #1163 "Angular Template: use async pipe rather than subscribe"
In MasterDetail, List and Grid pages in Angular templates, you subscribe to services (and no unsubscription in onDestroy).

It's better to use async pipe for that which manage unsubscription for you.
Could be something like this in MaterGrid page:

`
currentMasterDetailText: IMasterDetailText;
masterDetailText$: Observable<IMasterDetailText[]> =
 this.masterDetailService.getMasterDetailItems().pip

[2019-08-29 09:20] RichardC64 opened #1164 "Angular Template MasterDetail: use object for masterDetailSidebarTab"
4 @Input() are used in MasterDetailSidebarTabComponent. I think it's the responsability to this component to choose what to show. So I would be better if there is only one @Input(), the IMasterDetailText object.

With this, in sidebar item, we can change the UI with no impact on container. (for example if there is more properties in MasterDetailText object).

Doing so, we can change the @Output()

[2019-08-29 09:23] RichardC64 commented on #1163
And no more needs to implement OnInit() interface

[2019-08-29 09:43] RichardC64 opened #1165 "How to test templates modifications?"
Is there an easy way to test modifications in templates? I want to modify Anglura templates and see if modifications produce good generation.

I saw that templates are embedded in a zip file (Web.Any.Templates.mstx).

[2019-08-29 20:05] AndreeWille opened #1166 "Web Template Studio Launch does not work in Windows Subsystem for Linux (WSL)"
Repro steps:

1. Press Ctrl + Shift + p (in VS Code on Windows 10 using WSL Remote Extension in order to execute the command in WSL)
2. Execute Web Template Studio: Launch

Action: Sync-Engine
Error type: Error
Error Message: Could not sync to template repository

Version: 0.0.1922901
OS: linux (Ubuntu for Windows Subsystem for Linux)
VS Code Version: 1.37.1

<details>
<summary>Call Stack</summary

[2019-08-29 22:20] Tanya0609 commented on #1166
Hi @AndreeWille, thanks for reporting. This is the same issue as #601.
This issue may caused by file permission on your laptop, could you go through the following self-diagnose steps to see if the problem can be solved?

**1. Do you see any logs in the folder "/Users/[username]/.local/share/WebTS/Logs"? The path is %LocalAppData%\WebTs\Logs for windows. It is a hidden file. Could you share them?**

[2019-08-29 22:26] Tanya0609 commented on #1165
Hi @RichardC64, the way to modify generated angular templates is from the code under /templates, [here](https://github.com/microsoft/WebTemplateStudio/wiki/Templates) is the link to our GitHub wiki. It is a more detailed document about how to do it.

To test the generated angular code, you will [start the extension](https://github.com/microsoft/WebTemplateStudio/wiki/Getting-Started) on your branc

[2019-08-29 22:27] Tanya0609 commented on #1164
Thanks for the great feedback!

[2019-08-29 23:23] mcmxcdev commented on #1123
@Tanya0609 Good to hear!

**Feedback regarding the leftover checkboxes:**

*CSS:*
* `app.component.css` lgtm
* I don't see any svgs imported in css?

*a11y:*
* There could be some additional codelyzer rules added to `tslint.json`
https://web.dev/accessible-angular-with-codelyzer/

*various:*
* I would need more information/mockups regarding having a home page generated, if that is a requirement.
*

[2019-08-30 08:09] AndreeWille commented on #1166
Hi @Tanya0609, thank you for anwering my report so quickly.

My user has write permissions to this folder.

After restarting Visual Studio Code it worked. To me it seems as this has also been logged. See attached logfile from .local/share/WebTS/Logs.

[WTS_Dev_20190829.log](https://github.com/microsoft/WebTemplateStudio/files/3558916/WTS_Dev_20190829.log)

i will be happy to answer further questio

[2019-08-30 14:31] SahilTara commented on #1166
![Screenshot_20190830-102919](https://user-images.githubusercontent.com/32103099/64028705-20ff5e00-cb11-11e9-855d-42740fba5573.jpg)

Seems like it is a permissions issue. Possibly could be solved by using fallback directories or something for first time users.

[2019-08-30 20:53] AndreMaz commented on #1124
Hey @Tanya0609. Thanks for your response.

I can definitely help with the template but I need some guidance. Where should I put the metadata (description, logo, and etc.) about Moleculer? I mean, how can I add a new framework to the list back-end frameworks? The [Add Backend Framework](https://github.com/microsoft/WebTemplateStudio/wiki/Templates#add-backend-framework) Wiki has no mention about it

[2019-09-02 16:20] yizongk opened #1169 "When typing letters in an input field, letters are being inserted at the begining of the string instead of at the end"
- VSCode Version: Insider 1.38
- OS Version: Window10 Version 10.0.18362 Build 18362

Steps to Reproduce:

1. Install Web Template Studio and Visual Studio IntelliCode (I am not sure if the latter extension is required for this bug to appear, but it is the only two things I have installed on VSCode after a fresh VSCode installation)
2. Press ctrl+shift+P
3. Type in 'Web Template Studio' and click

[2019-09-02 20:57] AndreMaz commented on #1124
So I've managed to get things working
Wizard:
![image](https://user-images.githubusercontent.com/9802754/64132980-50d98a80-cdcb-11e9-9c74-fa8d0e55f2c6.png)
Moleculer+Vue
![FM2eNnx8T4](https://user-images.githubusercontent.com/9802754/64133011-7e263880-cdcb-11e9-9fff-9ea4ff764ad0.gif)

The only thing that is missing is the integration with Azure Cosmos.

Is there any interest in having this added t

[2019-09-03 13:14] tommck opened #1170 "only react template available"
When I run the web template studio, I only get the option for a React front end. No other options are shown :(

UPDATE: This is on the "wasteamaccount.webtemplatestudio-dev-nightly" extension

[2019-09-04 04:46] jasmingoh commented on #1170
@tommck, can you tell us the version number? It is located on the bottom of the right sidebar (under "Report an Issue")

[2019-09-05 12:46] Sno0t opened #1171 "Is there an 'Offline' mode?"
Hello everyone :)

yes, I know, this sounds a little bit stupid, but is there a way to use WTS 'offline'?
Within my company there are a lot of restrictions regarding applications and their internet access.
I somehow managed to install VSC and WTS though, even managed to install node and yarn, but I still get an error on Launching WTS ('spawn UNKNOWN').
Unfortunately, the log files do not say much.

[2019-09-05 16:24] tommck commented on #1170
The version I'm seeing is 0.0.1922901

@jasmingoh sorry for the delay

[2019-09-05 20:12] smmatte commented on #1124
Hi @AndreMaz this looks great, if you make a PR, then we would look at it. Thank you!

[2019-09-06 10:20] sibille commented on #1170
@tommck, that's the latest version, you should see Angular and Vue on this version too.
Does this only happen on the frontendframeworks or for backend frameworks too? You should see Node and Flask there.
Not sure how this can happen, a corrupt template folder could be the reason, what the OS your using?

[2019-09-06 10:36] sibille commented on #1171
Hi @Sno0t, thanks for reporting! WebTS should work fine offline. What's the exact error message you are getting? Also, could you paste the content of the log files to see where WTS is failing. What OS are you using?

[2019-09-06 11:05] Sno0t commented on #1171
Hi @Sibille,
thank you for your answer. it is much appreciated.

I am currently using:
Windows 10 (build 16299)
Node v10.16.3
Yarn v1.17.3
Python 3.7 (mentioned just in case this might trigger something)

I don't know if any of those are responsible for the error(s).
Neither is able to connect to the internet.

The exact error message is as follows (well...its just a single line after launching th

[2019-09-06 13:02] tommck commented on #1170
@sibille I only have 1 choice for both.  only React/Node as options.

I uninstalled and reinstalled it too.  Is there anything else I can try?

[2019-09-07 15:45] SahilTara commented on #1170
Hmm something may be cached weird. Would you mind zipping your .templateengine folder and WebTs folders and then deleting the original folders? Should be located at ~/ or %UserProfile% and ~/local/.share or %LocalAppData% respectively. Then try uninstalling the extension, followed by reinstalling the extension. If this works please send us a copy of the zipped folders!

[2019-09-07 15:48] SahilTara commented on #1171
May have to do with our dependency on azure-account since it tries to connect to some telemetry service.

[2019-09-07 16:25] tommck commented on #1170
So, deleting those folders, uninstalling and reinstalling didn't help.

As far as OS goes, here's the "Help->About" info

![image](https://user-images.githubusercontent.com/981957/64477518-83d4a300-d16a-11e9-99d9-390ef055f404.png)

[2019-09-07 16:35] tommck commented on #1170
If I load the dev tools as soon as I launch VS Code, I see this:

[WASTeamAccount.WebTemplateStudio-dev-nightly]: Command `webTemplateStudioExtension.wizardLaunch` appears multiple times in the `commands` section.

[2019-09-07 16:41] tommck commented on #1170
oh weird... I apparently had 2 versions installed (?):

* Web Template Studio (staging-weekly)
wasteamaccount.webtemplatestudio-dev-nightly
* Web Template Studio
microsoft.webtemplatestudio

I'm betting that could have had something to do with it :)

[2019-09-07 16:44] tommck commented on #1170
Yep!  That fixed it!  I uninstalled both and then reinstalled the staging-weekly.

(I may have built/installed the other one myself from source a long time ago and forgot)

[2019-09-07 16:48] tommck commented on #1170
Thanks so much for the help, folks.  I'm up and running fine now :)

[2019-09-07 16:48] #1170 closed, assigned to nobody

[2019-09-09 06:45] Sno0t commented on #1171
Thank you very much for your answer :)

Honestly I am kinda confused with this whole Azure dependency...as every screenshot and Video gives the azur Option as an optional during the Project creation. why force the dependency then and especially enforce telemetry collecting?

In regards to your answer, I guess this means no WTS for me then?
As I am not able to either activate internet-Access nor te

[2019-09-09 10:00] sibille commented on #1171
We're still investigating, but I think the problem is related to starting the CoreTemplateStudio CLI that's used for generation.
Does your user have execution permissions on Microsoft.Templates.Cli.exe? It's located in %userprofile%\.vscode\extensions\wasteamaccount.webtemplatestudio-dev-nightly-3.3.19200.1\src\corets-cli\win32.

[2019-09-10 05:41] Sno0t commented on #1171
Hi Sibille, thank you once again for your answer :)
Unfortunately my user does not hasve the neccessary priviliges to start the mentioned *.exe file.
(and it is really annoying...we have really tight restrictions :/ )

[2019-09-11 18:10] mcmxcdev commented on #1123
Any updates from your side regarding my feedback, @Tanya0609 ?

If not then I would remove the WIP from https://github.com/microsoft/WebTemplateStudio/pull/1157 and we could get it merged, it has a lot of changed files already anyways.

[2019-09-12 13:47] steskalja opened #1175 "ASP.Net core backend"
Are there any plans to support ASP.Net Core as the backend? This would be useful since a number of people would like to use C#.

[2019-09-13 18:43] jcoc611-microsoft commented on #1175
Thank you for your suggestion! We are tracking ASP.Net support on issue #200 . We currently do not have a concrete plan/timeline for this but it is definitely in our backlog. Thank you again.

If you'd like to add more info or request updates, please do so in the linked issue!

[2019-09-13 18:43] #1175 closed, assigned to nobody

[2019-09-13 22:52] mcmxcdev commented on #1006
@Tanya0609 I would like to work on this.

For all the javascript frameworks, it would be possible to check the latest stable version on npm with e.g: https://github.com/sindresorhus/latest-version and then compare it to the version used in the wizard.

I tried it out quickly but wasn't able to make a simple http request in the class `SelectFrontEndFramework`, maybe async/await is not supported? Or

[2019-09-15 14:47] AndreMaz commented on #1124
@smmatte PR https://github.com/microsoft/WebTemplateStudio/pull/1173 got 3 approvals so I'm assuming that it eventually is going to be merged. Following this line of thought I want to discuss the contents of next PR.

I was thinking about adding unit tests (Moleculer plays well with Jest) and Docker files. What do you think?

----

Also, while playing with WebTS I've noticed that file structure of

[2019-09-16 09:28] sibille commented on #1171
Sorry @SnoOt, starting Microsoft.Templates.Cli.exe is a required for using Web Template Studio. It's the component that manages the template cache and generation.

[2019-09-16 09:28] #1171 closed, assigned to nobody

[2019-09-16 10:06] sibille opened #1176 "Add schema to template.json + cleanup unused properties"
We should add the $schema: "http://json.schemastore.org/template" to the template.json and set all required properties (shortname and identity).
Also remove unused symbols like wts.rootNamespace, etc

[2019-09-17 15:10] CharlPels opened #1177 "Make it simpler for beginners"
A very good start to make websites, however the outcome is way to complex for starting
developers or possible simple projects.
Would it be an idea to add another fronted framework namely No Framework.

Just a simple Flask and NodeJS back-end with simple HTML/bootstrap?

[2019-09-18 03:36] vikasrana07 opened #1178 "Error: Could not sync to template repository"
Repro steps:

1. Tried to open WebTemplateStudio got below error

Action: Sync-Engine
Error type: Error
Error Message: Could not sync to template repository

Version: 0.0.1925201
OS: win32
VS Code Version: 1.38.1

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-09-18 08:10] AndreMaz commented on #1178
Hey @vikasrana87
Did you check the https://github.com/microsoft/WebTemplateStudio/issues/1125 and https://github.com/microsoft/WebTemplateStudio/issues/1132 ? I think it's the same issue

[2019-09-19 09:48] dgomezc opened #1180 ""Learn more" link is cropped when having a warning message"
When we selected a framework and don´t have prerrequisites installed, a warning message is show and the  "Learn more" link is cropped.

![image](https://user-images.githubusercontent.com/12777039/65233016-71475b80-dad2-11e9-9061-a7cbd4039aeb.png)

[2019-09-19 09:49] dgomezc opened #1181 "Move BackendFrameworkLinuxVersion constant to template catalog"
The BackendFrameworkLinuxVersion property is defined in constants.ts file. This property should be defined in backendframeworks.json file inside the _catalog folder.

[2019-09-19 10:43] sibille opened #1182 "Improve feedback on "Could not sync templates" error"
When the generation engine is not able to sync templates we should give feedback to the user with steps to self-diagnose and solve for known scenarios:
- Missing permissions to create WebTS folder:
[code]
- Missing permissions to execute Template engine:

[code]

For other scenarios point the user to logs from template engine on:
[code]

[2019-09-19 10:45] sibille commented on #1178
Is this still an issue?

Were missing permissions on

[code]

the underlying reason or did you have to change anything else?

Opened issue https://github.com/microsoft/WebTemplateStudio/issues/1182 to improve user feedback.

[2019-09-19 10:46] sibille commented on #1125
Is this still an issue?

Were missing permissions on

[code]

the underlying reason or did you have to change anything else?

Opened issue https://github.com/microsoft/WebTemplateStudio/issues/1182 to improve user feedback.

[2019-09-19 10:46] sibille commented on #1132
Is this still an issue?

Were missing permissions on

[code]

the underlying reason or did you have to change anything else?

Opened issue https://github.com/microsoft/WebTemplateStudio/issues/1182 to improve user feedback.

[2019-09-19 10:47] sibille commented on #1166
Is this still an issue?

Were missing permissions on

[code]

the underlying reason or did you have to change anything else?

Opened issue https://github.com/microsoft/WebTemplateStudio/issues/1182 to improve user feedback.

[2019-09-19 11:03] AndreeWille commented on #1166
I didn't change anything. My user had write access to this folder and the folder was present. It worked after restarting Visual Studio Code.

Unfortunately i can't give more information.

[2019-09-19 12:20] sibille commented on #1169
Great catch, thanks for reporting. It's a very strange behaviour, we'll see how we can fix this.

[2019-09-19 13:24] sibille commented on #1146
Hi @pkreddy04, is this still an issue?

[2019-09-19 13:27] sibille commented on #1141
Is this still an issue?

Were missing permissions on

[code]

the underlying reason or did you have to change anything else?

Opened issue https://github.com/microsoft/WebTemplateStudio/issues/1182 to improve user feedback.

[2019-09-19 13:29] PiotrekPKP commented on #1141
I will check that :) thanks for help

czw., 19 wrz 2019, 15:27 użytkownik sibille <notifications@github.com>
napisał:

[2019-09-20 14:21] pkreddy04 commented on #1146
Hi All,
I was able to try steps listed from @Tanya0609

And that resolved the issue

[2019-09-20 14:21] #1146 closed, assigned to nobody

[2019-09-23 17:06] sibille commented on #1123
Sorry for the delay @mhatvan, we're currently reorganizing the team. You can remove the WIP and we'll have a look at your PR asap.

[2019-09-23 23:27] jimbobbennett commented on #1177
As someone who doesn't know web and wants to get started quickly with Flask, having to learn another framework just to display a web page is a lot of cognitive load. A simple Flask front end with maybe a template HTML file to show a list would be great.

[2019-09-25 09:42] AndreMaz commented on #1181
Not that my opinion counts much but I would suggest to go 1 step further and move all framework related meta-data from `src/client/*` to `templates/_catalog/` dir. When I was adding Moleculer I had to do a lot of hard-coding in `client` dir (see https://github.com/microsoft/WebTemplateStudio/pull/1173/commits/665f217593a6c75c4a8cf2818f0f6108fe474143). This process is error prone and as a result I'

[2019-09-27 02:26] henryjw opened #1187 "Environment variables not populated in .env"
Using React + Node.js with MongoDB flavor of Cosmos db.

Below is what my `.env` file looks like. Even though a database was successfully created and deployed, the configuration was not updated.

[code]

[2019-09-27 11:21] sibille commented on #1181
Great feedback @AndreMaz, will take this into account and update the wiki as part of this issue.

[2019-09-27 11:32] sibille commented on #1124
@AndreMaz can you open a separate issue for the proposal to unify the file structure? I can see arguments for both options, unified output between different frameworks and each framework being as close to how people work on the framework possible. I'd like to get more feedback from the community.

What's the status regarding integration of Moleculer and CosmosDB? Can we help somehow?

[2019-09-27 11:34] sibille commented on #1187
Thanks for reporting! We'll have a look at it.

[2019-09-27 11:37] #1166 closed, assigned to nobody

[2019-09-27 11:56] AndreMaz commented on #1124
Yes, of course. @sibille I've created https://github.com/microsoft/WebTemplateStudio/issues/1189

To be honest, I've never used CosmosDB before. So I'll need some time to integrate it with Moleculer.
Right now I'm just looking at tutorials and trying to become familiar with it. So, any help would be appreciated.

[2019-09-27 12:20] dgomezc commented on #1187
Hi @henryjw,

The creation of the CosmosDB service in Azure takes some time and Web Template Studio waits for it to finish.When the creation is finished, Web Template Studio displays a notification asking if you want to replace the CosmosDB connection string in the .env file.

Did Web Template Studio show the notification of the replacement of the connection string and did you have click the "Yes"

[2019-09-27 13:22] AndreMaz opened #1189 "[Community Feedback Needed] Uniform top-level file structure?"
Original Issues: https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-531571687 https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-535902279

At this moment ([Release 0.0.1925201](https://github.com/microsoft/WebTemplateStudio/releases/tag/0.0.1925201) + everything at [dev branch](https://github.com/microsoft/WebTemplateStudio/compare/0.0.1925201...9fe5dca))

[2019-09-27 14:00] AndreMaz commented on #1189
I'll go first.

I think that uniform structure is good for beginners or people less experienced in web development.
Uniform structure will cause less cognitive load while playing around with different frameworks and developing prototypes. However, experienced developers that are familiar with web tech might/will not like it because old habits die hard.

In the end, I think that it's all about the

[2019-09-29 17:18] AndreMaz opened #1190 "[Wizard] Cosmos Options Inconsistencies"
While trying to integrate CosmosDB with Moleculer https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-535908869 I've noticed some inconsistencies:

Subscription is showing repeatedly "Free Trial" but I only have one (free) account.
![image](https://user-images.githubusercontent.com/9802754/65835946-9747d980-e2e4-11e9-9611-5b6a05dac3cf.png)

In API section I'm getting two option

[2019-09-29 19:09] AndreMaz commented on #1124
@sibille status update: I've managed to make Moleculer work with CosmosDB (via Mongo API). Still have to do some tweaks in composition templates and test everything but in a few days I will create a PR

[2019-09-30 04:07] henryjw commented on #1187
Thanks for the pointer @dgomezc. I didn't see it when setting up my project, but I'll set up another one to see if it pops up.

[2019-09-30 08:50] AndreMaz commented on #1187
@henryjw I've also had an impression that something went wrong when WebTS was creating CosmosDB instance. It took around 2 minutes to show the popup that @dgomezc is referring to. But in the end it worked well.

[2019-09-30 11:52] umdstu opened #1191 "command 'webTemplateStudioExtension.wizardLaunch' not found"
After installing the latest via the latest `vsix` file, the Launch command does not work.

The error in the popup, as the title indicates, is `command 'webTemplateStudioExtension.wizardLaunch' not found`. The only _Output_ I see related to the extension is in the _Log (Shared)_ section which states:
[code]

[2019-09-30 13:00] dgomezc commented on #1191
Hi @umdstu,

- which version did you try to install?
- Did you get the vsix from the marketplace?

Web Template Studio installs the following dependencies:
- Azure Account
- Azure App Service

Where those extensions installed sucessfully?

[2019-09-30 13:05] dgomezc opened #1192 "Update Installation Instructions document"
Review and update [Installation Instructions](https://github.com/microsoft/WebTemplateStudio/blob/dev/docs/install.md) to change manual installation steps as they are out of date.

[2019-09-30 13:42] umdstu commented on #1191
@dgomezc good morning
The version is 0.0.1925201, yes it's from the market place- but no I didn't install the other two VSIX files first. It would be really cool if these could be optional (somehow) as I take it they only apply to the `Deploy` part, and we won't be using the Azure portion- just the building part, not deploying. Anyway to get the dependencies listed on the [INSTALL](https://github.

[2019-09-30 15:24] dgomezc commented on #1190
Hi @AndreMaz,

Web Template Studio has an internal dependency on the Azure Account extension, that provides Azure Subscription data. Can you execute "Azure: Select Subscriptions" command in VSCode and confirm that show the same subscriptions?

In API section, we can select MongoDB or SQL because this options are selectables when create a MongoDB services in Azure Portal, and some users prefer SQL

[2019-09-30 16:15] AndreMaz commented on #1190
Hi @dgomezc

This is what I get when I run "Azure: Select Subscriptions"
![image](https://user-images.githubusercontent.com/9802754/65893909-ba37c380-e3a0-11e9-9154-18e0df907211.png)

I absolutely agree with you. But what I'm trying to say is that, at this moment, Moleculer does not support Cosmos SQL API. There is no composition template for that. So the presence of SQL gives a wrong impression t

[2019-10-01 10:24] dgomezc opened #1193 "Review and update Docs"
We should use docs for our documentation and wiki for additional contents and notes

### Docs structure:

:file_folder: Contributing
       :page_facing_up: Accessibility.md
       :page_facing_up: Architecture.md
       :page_facing_up: Getting-started-developers.md
       :page_facing_up: Templates.md

:file_folder: Generated Apps
       :file_folder: Backend-frameworks
              :page_facin

[2019-10-01 14:26] dgomezc opened #1194 "Dynamically show azure services based on selected framework and project type"
Currently, when we develop a new Backend Framework, but not yet  have implemented CosmosDB Service integration, Web Template Studio shows the CosmosDB box in Services page. If you select CosmosDB service and create an app, the database is created but not integrated into the app.

We should only show Services that are available for selected Frameworks and ProjectType,

[2019-10-01 14:26] dgomezc commented on #1190
Hi @AndreMaz,

I could not reproduce the problem, but when reviewing the code, I have seen that it can be related to azure sessions. To fix this, I will verify that you cannot add a subscription to the combobox if one with the same Id already exists.

Regarding the CosmosDB API selection, we think Web Template Studio should only show services available for selected Framework.

We have created the

[2019-10-01 14:29] #1180 closed, assigned to dgomezc

[2019-10-01 14:32] #1191 closed, assigned to nobody

[2019-10-01 14:52] AndreMaz commented on #1190
Hi @dgomezc

That's great. If you need some additional info (logs or something) just let me know.

Yes, that's the next thing that I'm going to do. However, integration with SQL API will take a little bit more time. I'll have to look at `@azure/cosmos` lib and extend Moleculer's DB adapter to work with it.
I'll update https://github.com/microsoft/WebTemplateStudio/issues/1124 as I progress.

[2019-10-07 13:30] #1192 closed, assigned to dgomezc

[2019-10-08 03:33] henryjw commented on #1187
I created a new project and can confirm that the popup appeared. The `.env` file was populated as expected.

[2019-10-08 03:33] #1187 closed, assigned to dgomezc

[2019-10-11 16:56] nickwalkmsft opened #1198 "Fresh React/Node app does not redirect at root when served from App Service"
**Repro**:

1. Use WebTS to create a new Node/React app with a single blank page and App Service. Open the project when finished.
2. *Optional, to illustrate scope of problem*: Open the terminal, do `npm install`, `npm run-script build`, `npm start`. Note that browsing to both localhost:3000 and localhost:3001, with no path, cause the browser to redirect to /Blank, which is the desired behavior.
3

[2019-10-14 14:48] #1182 closed, assigned to dgomezc

[2019-10-15 11:11] sibille commented on #1198
@nickwalkmsft, thanks for reporting!
We could reproduce the issue and are investigating the root cause.

[2019-10-15 11:28] sibille opened #1199 "Deploy generated App to Azure App Service"
Following up on a user suggestion from the marketplace.

If the user adds the "Azure App Service" Cloud Service we should deploy the generated App to Azure App Service. Currently the App Service is created and you can deploy with the "Web Template Studio: Deploy App" command

This will require waiting until everything the user chose is created (App Service, Cosmos DB, App).

[2019-10-16 08:10] raj1rana opened #1200 "Django intigration"
Hi Team,

I am impressed with the worked you have done it is amazing, and the choreography that you have created with your coding is indeed something to look up to.

It is really good that you have added flask as a Backend but as a Django developer i would love to work with your creation + Django frame work.

thank you.

[2019-10-16 09:48] dgomezc commented on #1198
Hi @nickwalkmsft,

We believe there is a problem with React redirection and to correct it you have to make changes to the App.jsx file.

Replace this:

[code]

with this:

[code]

and Re-Deploy your app.

We continue to investigate to detect the specific problem.

[2019-10-17 00:39] diamondseaturtle opened #1203 "ENOENT: no such file or directory, stat '/home/site/wwwroot/build/index.html' after deployed React/Node webapp generated by WebTS"
Created a webapp with WebTS (React+Node, 4 pages - blank, grid, list and master_details), did configure optional azure web server and cosmosDB (mongodb), after I successfully deployed the generated webapp to Azure **from my local machine using "Web Template Studio: Deploy App",** I got error : ENOENT: no such file or directory, stat '/home/site/wwwroot/build/index.html' when accessing my website.

[2019-10-17 10:23] #1190 closed, assigned to dgomezc

[2019-10-18 13:41] sibille commented on #1203
@diamondseaturtle, I wasn't able to reproduce this. Could you send us the logs from the deploy command? Also what does your local project folder look like after running the deploy command?

[2019-10-21 13:18] #1176 closed, assigned to dgomezc

[2019-10-21 13:19] #1198 closed, assigned to dgomezc

[2019-10-21 13:25] dgomezc commented on #1200
Thanks for your feedback, adding Django is already on our backlog (https://github.com/microsoft/WebTemplateStudio/issues/195).

[2019-10-21 13:25] #1200 closed, assigned to nobody

[2019-10-21 15:40] sibille commented on #1124
@AndreMaz, after the last changes moleculer seems to have stopped working when deployed to azure app service. Could you have a look? Seems that the backend is not started correctly.

[2019-10-21 15:43] AndreMaz commented on #1124
@sibille sure thing. Can you provide any additional info that could narrow down the source of the problem?

[2019-10-21 16:16] sibille commented on #1124
Steps to reproduce:
1. Create an app with react + moleculer + all pages and app service
2. Open project
3. Launch VS Code Command: "Web Template Studio: Deploy App"
 This command executes "npm install", "npm run build" and deploys the folder "server" to Azure App Service.

-> The frontend is deployed correctly, but there seems to be no connection with the backend services (because the backend did

[2019-10-21 16:29] AndreMaz commented on #1124
Thanks for the repro steps.
So this is kind of related to the [uniform top-level file structure](https://github.com/microsoft/WebTemplateStudio/issues/1189) issue that I've raised some time ago.

I will talk with @icebob to see what he thinks about it. But this would conflict with the idea of  https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-535902279

because in Moleculer a

[2019-10-21 16:54] sibille commented on #1124
I think we can make the folder name configurable.
What would a typical deployment of moleculer in Azure App Service look like?

[2019-10-21 18:55] AndreMaz commented on #1124
Ok. Now that I've looked closely at `react + node` app I think that I understand what's actually happening.

The `react + node` app has two `package.json` files - one at top dir `.` that corresponds to dev environment and another in `./server` that corresponds to production environment .
So in dev mode the `npm start` corresponds to:

`"concurrently \"yarn start-frontend || npm run start-frontend\

[2019-10-21 19:14] AndreMaz commented on #1124
@sibille  I can update the templates in any way that you that you like:
- **Option 1**: Move all Moleculer's related files to `server` and add an additional `package.json` just for deployment. This way the only thing that will be affected would be Moleculer's templates.
- **Option 2**: Change the current way of deploying things. This would require to:
   - Update the way that `Launch VS Code Comma

[2019-10-21 20:16] sibille commented on #1124
Not sure why package.json are separate, will follow up on this.

For now I'd go with the first option. We can then make the folder name configurable as part of https://github.com/microsoft/WebTemplateStudio/issues/1181, so moleculer can use "services" and node + python can use "server".

[2019-10-21 21:33] AndreMaz commented on #1124
Please do it. Personally, I think that it's very confusing to have 2 `packages` for a single project.
Also, I've made a quick search for some popular node boilerplates and none of them have 2 `package.json`
- https://github.com/sahat/hackathon-starter
- https://github.com/kriasoft/nodejs-api-starter
- https://github.com/madhums/node-express-mongoose
- https://github.com/talyssonoc/node-api-boilerp

[2019-10-22 13:00] sibille opened #1206 "Differences in output between executing "Deploy App" and executing npm locally"
Underlying issue for https://github.com/microsoft/WebTemplateStudio/issues/1198 is that the build output created by running "npm install" and "npm build" locally or through the Deploy App are different.

When executing through the DeployApp command the sources for path-to-regexp points to `"../node_modules/path-to-regexp/index.js".` which results in issue https://github.com/ReactTraining/react-rou

[2019-10-22 13:02] sibille opened #1207 "Integrate App Service creation with sandbox subscription from Learn module"
Detect when a user selects a sandbox subscription and create resources in the sandbox resource group instead of creating a new resource group.

[2019-10-22 20:17] AndreMaz commented on #1124
@sibille is there any update on double `package.json`?

[2019-10-23 07:41] sibille commented on #1124
Yes, there are various reasons:
- Allow development of client and server separately
- The package.json from the server folder is needed for deployment on Azure App Service (https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-nodejs).
We only need the server script and dependencies here, as the client part is deployed as a static website.
- Outer package.json is for loc

[2019-10-23 08:18] AndreMaz commented on #1124
Sorry, I didn't tested yet. Give me a couple of hours and I will create a PR.

Ok. I will do it.

[2019-10-23 08:22] sibille commented on #1124
Awesome!

[2019-10-23 14:23] AndreMaz opened #1209 "[Feedback Needed] Optimized production build and deployment"
**UPDATE**: The proposal that's currently under consideration can be seen here https://github.com/microsoft/WebTemplateStudio/issues/1209#issuecomment-553428712

---
---

**Original**: https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-544574101, https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-544590572, https://github.com/microsoft/WebTemplateStudio/is

[2019-10-23 14:24] AndreMaz commented on #1124
I've created https://github.com/microsoft/WebTemplateStudio/issues/1209 to discuss the 2 package per project issue.

[2019-10-24 16:32] rrroar opened #1211 "App Service creation fails"
Repro steps:
1. Create free Azure account
2. Select React+Flask stack
3. Select CosmosDB with SQL API
4. Attempt selecting App Service ("Add to my project")

Action: subscription-data-for-app-service
Error type: Error
Error Message: Entry not found in cache.

Version: 0.0.1925201
OS: darwin
VS Code Version: 1.39.2

<details>
<summary>Call Stack</summary>

[code]

</details>

[2019-10-24 17:33] AndreMaz commented on #1209
After PR https://github.com/microsoft/WebTemplateStudio/pull/1208 and the conversation that we've had there, I'm updating the title of this issue to `Optimized production build and deployment`.
I think that it's a more appropriate name

[2019-10-25 10:06] sibille commented on #1211
Thanks for reporting!
This seems to be related to https://github.com/microsoft/vscode-azureappservice/issues/1195 and https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/199

[2019-10-25 10:42] sibille opened #1215 "Angular styling improvements"
Following up from issue https://github.com/microsoft/WebTemplateStudio/issues/1123 to attack the remaining points:

Apply the following improvements for angular styles:

- [x] Make the arrays all one liners (smaller is better) in all ts code
- [x] @Injectable({}) should be one line
- [x] Review and fix tslint issues
- [x] Fix: tslint and prettier not working in /AngularDefault/src/app/app-shell fo

[2019-10-25 10:55] sibille opened #1216 "Add home page to generated project"
Following up from issue https://github.com/microsoft/WebTemplateStudio/issues/1123.

First page in wizard should be treated as "Home page".

This should be done in :
- [x] React
- [x] Angular
- [x] Vue

We should use the Layout.json in the .template.config folder to configure the home page in the templates

[2019-10-25 11:55] sibille commented on #1123
Opened issues #1215 and #1216 to track the remaining work

[2019-10-25 11:55] #1123 closed, assigned to nobody

[2019-10-26 10:25] AndreMaz commented on #1209
Hey @crutkas, now that you are back to team Microsoft, can you take a look at this?

[2019-10-26 13:29] rrroar opened #1217 "Errors on app restart"
Cannot restart the app with Azure CosmosDB.
Extension version 0.0.1925201, a default project for React+Flask with Azure services.
OS: darwin
VS Code Version: 1.39.2

To reproduce:
1. "npm start", the app works fine.
2. Then I kill it in console with Ctrl+C.
3. Try "npm start" again, get:

[code]

Is this a bug?
Or is there a way to start the app without it trying to populate the DB that I don't kn

[2019-10-26 14:37] crutkas commented on #1209
While I am back, I am not assigned to the project. When I left, I had to give up owning the project and have to respect the new owners. The issue is only a few days old and people could have been focusing on other tasks.

@sibille is great and looked very responsive on the other issue. I respect her and the other Madrid team beyond belief.

[2019-10-26 14:46] johnpapa commented on #1209
This is likely to become a longer discussion. If the root app has the client app. And the server folder has the node app, then there are pros and cons to one vs two package files

If you combine to a single package.json then when you npm install you get all client and server dependencies into the node modules folder. This may sound fine but now fast forward to when you deploy the app. Do you reall

[2019-10-26 14:48] johnpapa commented on #1209
I recommend prefixing npm scripts with names like client or server.

Also recommend removing comments from package file. Naming scripts clearly with procedures can make them not needed.

[2019-10-26 17:25] rrroar commented on #1217
In any case, I've fixed the issue by adding some try-except blocks to sql_client.py , and reading the DB - instead of creating it again - if the errors appear. The resulting source code:

[code]

Since I'm sure people have been restarting their apps left and right, and not one complained about this, I must've been doing something wrong... Looking forward to learning what that was :)

But in any ca

[2019-10-26 17:49] AndreMaz commented on #1209
Thanks for prompt response @crutkas . Actually I created this issue at @sibille request (https://github.com/microsoft/WebTemplateStudio/issues/1124#issuecomment-545313551). And you are right, @sibille, @dgomezc and everyone else are great and we've have a lot of really nice discussions.

The sole intention of this issue is to generate discussion and listen to what people think about different ways

[2019-10-26 17:59] crutkas commented on #1209
@AndreMaz great Feedback, you too John :)

[2019-10-26 18:42] icebob commented on #1209
@johnpapa

All of angular/react/vue use webpack to build a bundle. It means, no need any dependencies for the frontend project. All frontend dependencies should be devDependencies, so when we deploy the server-side, we should run only `npm install --production` which won't install frontend dependencies.

[2019-10-26 19:22] AndreMaz commented on #1209
I agree with @icebob and that's what I tried to say with the comments in `package.json` and step 4 in **Possible Solution** proposal. The actual comments are there just to clarify which packages should be placed in `devDependencies` and which should be in `dependencies`

[2019-10-26 19:28] johnpapa commented on #1209
I’m well aware that they use web pack to build bundles. But great doesn’t stop files from being placed in node modules folder. And if you combine the vue app and node app in a single package json you will have all vue dependency and node dependency files in node  modules.

Example. Create an angular app and add node express dependencies to it. All of those will be install in azure app service (as

[2019-10-26 21:04] AndreMaz commented on #1209
@johnpapa you are right, creating a vue app with `vue-cli` will place some vue-related packages in `dependencies`. But WebTS doesn't actually use vue or any other cli to generate templates. I might be wrong but I think that it only uses CLI-generated templates for inspiration.
What I'm trying to say is that it is possible to generate the `package.json` file in a way that only the packages that are

[2019-10-28 11:16] dgomezc commented on #1178
We have published a new version of Web Template Studio that fix some errors with template synchronization. Error management has also been improved to include more info.

If you have template synchronization problems again, please opened a new issue.

[2019-10-28 11:16] #1178 closed, assigned to nobody

[2019-10-28 11:16] dgomezc commented on #1125
We have published a new version of Web Template Studio that fix some errors with template synchronization. Error management has also been improved to include more info.

If you have template synchronization problems again, please opened a new issue.

[2019-10-28 11:16] #1125 closed, assigned to Tanya0609

[2019-10-28 11:16] dgomezc commented on #1132
We have published a new version of Web Template Studio that fix some errors with template synchronization. Error management has also been improved to include more info.

If you have template synchronization problems again, please opened a new issue.

[2019-10-28 11:16] #1132 closed, assigned to nobody

[2019-10-28 11:17] dgomezc commented on #1141
We have published a new version of Web Template Studio that fix some errors with template synchronization. Error management has also been improved to include more info.

If you have template synchronization problems again, please opened a new issue.

[2019-10-28 11:17] #1141 closed, assigned to nobody

[2019-10-28 12:10] sibille commented on #1209
Thanks for your feedback @johnpapa, @icebob, @crutkas and @AndreMaz !
Agree that this is a bigger issue we need to discuss to find a solution that fits all frameworks.

@AndreMaz React, Angular and Vue CLI (create-react-app, angular/cli and vue/cli) tools were used to build the basis for our templates, we should try to stay as close as possible to reduce complexity for people to understand the set

[2019-10-28 12:24] AndreMaz commented on #1209
I completely agree with you. The only change that I'm suggesting it to move all frontend-related packages to `devDependencies`. The remaining part of `package.json` would be exactly the same as the one generated by the CLIs.

[2019-10-28 12:26] johnpapa commented on #1209
I would not move the dependencies that those CLIs install as regular ones vs dev ones. This would deviate from what people expect from projects generated form this CLIs.

[2019-10-28 13:51] AndreMaz commented on #1209
@sibille exactly. People tend to forget things while doing repetitive tasks and updating 2 `package.json` files every time I want to test some backend lib is a repetitive task. (Plus removing it if I don't like the lib)
As the result, someone will definitely forget to update the `./server/package.json` file... Because of this, things will work locally but deploying at Azure will produce a `missing

[2019-10-28 13:58] johnpapa commented on #1209
Understood. And I have been down this road as I suggested the same thing in the past.

Here is another reason not to deviate ... the CLI for Angular has a great tool for updating the Angular app with the latest version. So you can go from 7.x to 8.x. Part of the result is checking dependencies and updating them in place. So if you move the dependencies, you risk having this process add the same on

[2019-10-28 16:05] AndreMaz commented on #1209
@johnpapa I see your point and this is a really interesting question. Do you know someone from Angular or Vue dev team? Their feedback would be useful.

Anyway, @sibille you have a tough decision to make

[2019-10-28 16:48] johnpapa commented on #1209
Sure. Chris fritz or Evan or Sarah Drasner for vue.

Or Stephen fluin or minko gechev for angular.

I’d just make the call and circulate it amongst comm un it’s to get early
feedback. These kinda of things can be death by discussion :) best to pick
one of the two options and get early feedback.

John

On Mon, Oct 28, 2019 at 12:05 PM André Mazayev <notifications@github.com>
wrote:

--

johnpapa

[2019-10-28 17:15] AndreMaz commented on #1209
@johnpapa that's is kind of problematic at this moment as this project don't have enough visibility, so getting feedback is little hard. (This is why I tagged you... To generate some disscussion)

[2019-10-28 17:27] johnpapa commented on #1209
We can ask the many advocates to provide feedback. or I can help share with
community folks.

Just let me know.

On Mon, Oct 28, 2019 at 1:15 PM André Mazayev <notifications@github.com>
wrote:

[2019-10-28 17:43] AndreMaz commented on #1209
I'm not a part of dev team so I can't make the call. But as a contributor I would appreciate if you could share this. It would be really great

[2019-10-28 17:59] sibille commented on #1209
I think that would be awesome!

[2019-10-28 18:36] johnpapa commented on #1209
Please let me know what you want for feedback and who to CC. Then I’ll
email the advocate team.

John

On Mon, Oct 28, 2019 at 1:59 PM sibille <notifications@github.com> wrote:

--

johnpapa

[2019-10-29 12:15] sibille commented on #1209
We'll set up a sample implementation for both approaches and share on this issue.

[2019-10-29 12:18] sibille commented on #1124
Moleculer support added in version 0.0.1929801 published yesterday.

[2019-10-29 12:18] #1124 closed, assigned to nobody

[2019-10-29 12:21] sibille commented on #1217
Thanks for reporting! We'll look into this and come back with more details.

[2019-10-29 12:25] johnpapa commented on #1209
Might be helpful to see how much longer it takes to deploy the combined option.

Either with oryx or pushing to storage. Just for some data points.

And of course comparing package files will be interesting.

[2019-10-30 10:23] Tobjoern commented on #587
I would like to implement that feature, it shouldn't be very hard!
Do I have the guarantee for a merge if I implement it?

[2019-10-30 18:03] dsg0tm commented on #584
Great Idea. +1

[2019-10-31 18:59] mcmxcdev commented on #1160
@Tanya0609 what are the reasons for having a `buildScript.js`? Tell me what I should write as comment and then I will work on this ;)

[2019-10-31 19:11] mcmxcdev commented on #1160
Additionally, I would suggest adding e.g.
[code]
to the package.json, to be clear about what versions of node and npm are supported by this project.

[2019-11-04 10:53] sibille commented on #1160
@mhatvan, the buildScript.js is used to compile the frontend Angular app and move the output to the server folder for later deployment.

[2019-11-04 14:11] sibille commented on #100
Think this issue is out of date, we currently have only one VS Code Command that would affect the wizard.

[2019-11-04 14:11] #100 closed

[2019-11-04 14:20] sibille commented on #393
Verified in version:
Templates version: 0.0.19298.1
Wizard version: 0.0.1929801

[2019-11-04 14:20] #393 closed

[2019-11-04 14:35] sibille commented on #427
@SahilTara, this is fixed as the status in the wizard is updated and any services that need azure login are removed.

Verified in version:
Templates version: 0.0.19298.1
Wizard version: 0.0.1929801

[2019-11-04 14:35] #427 closed

[2019-11-04 14:41] sibille commented on #456
This issue is out of date.
Default location is Central-US

[2019-11-04 14:41] #456 closed

[2019-11-04 14:42] sibille commented on #459
This issue is out of date, we're not showing project type currently as there is only one

[2019-11-04 14:42] #459 closed

[2019-11-04 14:45] sibille commented on #462
Done

[2019-11-04 14:45] #462 closed

[2019-11-04 14:47] sibille commented on #479
We're not generating Azure Functions anymore.

[2019-11-04 14:47] #479 closed

[2019-11-04 14:57] sibille commented on #583
Dup of https://github.com/microsoft/WebTemplateStudio/issues/359

[2019-11-04 14:57] #583 closed, assigned to nobody

[2019-11-04 15:11] sibille commented on #603
There is an issue on VSCode repo code repo for this https://github.com/microsoft/vscode/issues/56023

[2019-11-04 15:11] #603 closed, assigned to nobody

[2019-11-04 16:09] dgomezc commented on #326
Verified in version:
Templates version: 0.0.19298.1
Wizard version: 0.0.1929801

[2019-11-04 16:09] #326 closed

[2019-11-04 16:14] dgomezc commented on #1203
We have improved feedback when deploying the app. Please, reopen with more info if this still happens to you.

[2019-11-04 16:14] #1203 closed, assigned to dgomezc

[2019-11-05 08:41] sibille commented on #587
Hi @Tobjoern, we really appreciate your offer, but we are not yet ready for language selection in Web Template Studio.

[2019-11-05 15:14] dgomezc opened #1224 "Update sql_client.py when Azure SDK for Python v4 be released"
When Azure SDK for Python v4 is officially launched, we have to update the sql_client.py file to use the new create_database_if_not_exists and create_container_if_not_exists methods, to control the creation of the database and the container without using the proposed try catch in issue #1217

[2019-11-05 15:14] dgomezc commented on #1217
Hi @rrroar,

Thank you for your report and for the solution!

The solution you propose is valid to solve the problem since it is as currently explained official documentation (https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cosmos/azure-cosmos#create-a-database)

I have made a PR (#1223) including the proposed changes.

[2019-11-06 08:45] #1067 closed, assigned to nobody

[2019-11-07 13:20] sibille commented on #627
This was fixed when we migrated the api to cli

[2019-11-07 13:20] #627 closed, assigned to nobody

[2019-11-07 13:24] sibille commented on #658
We've improved logs for sync and generation issues, the shown error is a known issue from Azure Account, where we can't add more info.

[2019-11-07 13:24] #658 closed, assigned to nobody

[2019-11-07 13:34] sibille commented on #671
We should review the whole drag + drop logic, the dragged item is not shown in the right pane while dragging + text gets selected when mouse moves over other items.

[2019-11-07 13:44] sibille commented on #689
we can use a dotnet template engine transform to transform the project name to lowercase like for example angular cli does.

[2019-11-07 13:48] sibille commented on #697
Closing in favor of  #608.

[2019-11-07 13:48] #697 closed, assigned to nobody

[2019-11-07 13:54] sibille commented on #847
Closing this as we don't generate Azure functions anymore.

[2019-11-07 13:54] #847 closed, assigned to nobody

[2019-11-07 14:34] sibille opened #1227 "Review MasterDetail Page on React and Vue"
Review if feedback for Angular MasterDetail Page from (https://github.com/microsoft/WebTemplateStudio/issues/1164) applies to React and Vue.

[2019-11-07 14:35] sibille commented on #1164
We've also changed MasterDetailText to SampleOrder + a few other names on the MasterDetail page.

[2019-11-08 09:34] #1160 closed, assigned to nobody

[2019-11-08 12:16] sibille opened #1229 "Review Grid and List page in all frameworks"
Looking at the Grid and List page we saw that we could pass the model to the child components here too as suggested in https://github.com/microsoft/WebTemplateStudio/issues/1164

[2019-11-08 12:29] sibille opened #1230 "Fix Angular e2e tests"
Angular e2e tests are currently failing, we should adapt them to the generated code.

[2019-11-08 18:47] Pfurr opened #1232 "componentdidmount deprecated - update version"
Is it possible to update this extension to the new ReactJS features? For example, componentdidmount is deprecated ( see --> list.js component)

[2019-11-09 02:52] JamesSingleton commented on #1232
When did `componentDidMount()` become deprecated? Looks like it isn't https://reactjs.org/docs/react-component.html#componentdidmount

[2019-11-09 09:51] Pfurr commented on #1232
See docs about useEffect

[2019-11-09 09:58] JamesSingleton commented on #1232
`useEffect` is just a hook that you can think of as  `componentDidMount`, `componentDidUpdate`, and `componentWillUnmount` combined to be used only in a functional component. I don't see in https://reactjs.org/docs/hooks-reference.html?no-cache=1#useeffect or https://reactjs.org/docs/hooks-effect.html saying that `componentDidMount` is deprecated. You can't use `useEffect` in a class based compone

[2019-11-09 10:27] Pfurr commented on #1232
You can write the same code using the hook, writing less code ect ect

[2019-11-09 20:17] SahilTara commented on #1232
Hey @pherm what you're suggesting is a great idea. In fact we had discussed adding hooks to our project back in march and again around july. I think what you're actually suggesting is to have an option for functional or class components. Since componentDidMount isn't deprecated, it's just what you would use for class based components.

[2019-11-09 20:43] JamesSingleton commented on #1232
@SahilTara yeah having an option sure, but you cannot replace `componentDidMount` with `useEffect`

[2019-11-10 00:16] SahilTara commented on #1232
@JamesSingleton that is correct since they are used in two different contexts.

[2019-11-11 14:07] sibille commented on #1062
VSCode tracking issue is https://github.com/microsoft/vscode/issues/83645

[2019-11-11 14:10] sibille commented on #1063
We don't have resource group dropdown and the Azure Service Form keyboard navigation works fine.

[2019-11-11 14:10] #1063 closed, assigned to nobody

[2019-11-11 14:15] sibille commented on #1080
I think we should not show the services category if no services were added.

[2019-11-11 16:45] sibille commented on #1104
X-Ref:  https://github.com/microsoft/WebTemplateStudio/issues/671

[2019-11-11 16:46] sibille commented on #1107
Done in PR https://github.com/microsoft/WebTemplateStudio/pull/1219

[2019-11-11 16:46] #1107 closed, assigned to nobody

[2019-11-11 16:50] sibille commented on #1111
Closing as this seems all to be done + there is a separate issue for improving the "Create New" Subscription experience (https://github.com/microsoft/WebTemplateStudio/issues/996)

[2019-11-11 16:50] #1111 closed, assigned to Tanya0609, jasmingoh

[2019-11-11 16:51] sibille commented on #1120
Done in PR https://github.com/microsoft/WebTemplateStudio/pull/1219

[2019-11-11 16:51] #1120 closed, assigned to nobody

[2019-11-11 16:53] sibille commented on #1131
Thanks for reporting!
This seems to be related to microsoft/vscode-azureappservice#1195 and AzureAD/azure-activedirectory-library-for-nodejs#199

[2019-11-11 16:53] #1131 closed, assigned to nobody

[2019-11-12 15:01] sibille opened #1237 "Template tests in build pipeline are failing"
There seems to be an issue with py configuration on the hosted agent:
https://github.com/microsoft/azure-pipelines-image-generation/issues/989

[2019-11-13 07:40] sibille commented on #1163
Added async pipes in PR https://github.com/microsoft/WebTemplateStudio/pull/1228
We still use OnInit to get data and select the initial value.

[2019-11-13 10:08] #1237 closed, assigned to sibille

[2019-11-13 14:06] sibille opened #1242 "Changes in Master detail page"
Suggestions:

- Provide different images for different companies:
Right now sample data service returns the same image for each company, to make the sample more realistic, we should  return different images (located in the public image folder) and use the  greyAvatar.svg as fallback image

- Remove the breadcrumb
	Not sure why this was added in the first place, as it redirects to the same page.

[2019-11-13 14:31] dgomezc commented on #1209
Proposal for option 2: Separate package.jsons

We propose the following structure for the generated code and build output:

    - .vscode: contains tasks and deployment info for app service extension.
    - arm-templates: contains ARM Templates used for app service creation
    - backEnd: contains backEnd Code
    - frontEnd: contains frontEnd Code
    - out : Folder that will be published, contai

[2019-11-14 11:14] sibille commented on #1140
@DennisWanjiru, agree we should add a close button, it feels weird, to not have one on a modal.
Now, question is where should you go when hitting the close button?
Options:
1. Close the whole wizard: This feels a bit heavy, also generation failed and you hit the close button with the intention to start over, you would have to relaunch the wizard.
2. Close the modal and stay on the generation summa

[2019-11-14 11:17] sibille commented on #1142
We're working on redefining the project structure on #1209, would love to hear your point of view.

[2019-11-14 11:17] #1142 closed, assigned to nobody

[2019-11-14 11:20] sibille commented on #1144
Is this still an issue? Can you share the generated project or steps to reproduce?

[2019-11-15 08:27] jrieken commented on #1062
@sibille How do you open these links? Via `vscode.env.openExternal` or as links that the editor detects?

[2019-11-15 10:46] AndreMaz commented on #1209
I like this proposal :+1:  it has clear separation of concerns. The fact that the 2 `package.json` files are placed at `frontend` and `backend` folders is also nice because it makes things intuitive. Just looking at this structure I know where to install some back-end lib and where to install front-end related stuff.

Also, the `frontend` and `backend` as folder names is pretty cool. It's neutral,

[2019-11-21 19:21] Pfurr commented on #1232
Hooks are only needed to write react classes component as functional components with state. so, you can rewrite all as  functional components + hooks.

[2019-11-21 20:37] JamesSingleton commented on #1232
There would have to be another step in setting up a project though and ask if they want functional components with state. Not everyone wants them or can use them.

[2019-11-22 10:00] dgomezc commented on #1134
Hi @markjbrown,

we already include @azure/cosmos library for CosmosDB SQL API, and MongoDB Node.js Driver and Mongoose library for CosmosDB MongoDB API.

To see this configuration, you have to add a List Page which is the sample to connect to CosmosDB.

We think we should include the libraries and connection code when adding CosmosDB Feature always, independently from the List Page.

What do you

[2019-11-22 10:25] markjbrown commented on #1134
Hi David. I think that sounds ok. Could you post a screen cap of what that might look like? Just want to get a feel for it.

Thanks.

[2019-11-22 13:52] dgomezc commented on #1134
When adding CosmosDB Feature with MongoDB API, we think to include mongoConnect.js file that is in charge of creating the connection:

![image](https://user-images.githubusercontent.com/12777039/69430413-dbc88200-0d35-11ea-9388-71a01a892583.png)

If adding CosmosDB with SQL API, we think to include sqlClient.js:

![image](https://user-images.githubusercontent.com/12777039/69430572-3661de00-0d36-11

[2019-11-22 21:57] markjbrown commented on #1134
Yes, ok. Looks good. Thanks David!

[2019-11-25 10:40] sibille commented on #1144
Closing this, please reopen if this still happens

[2019-11-25 10:40] #1144 closed, assigned to nobody

[2019-11-26 15:45] sibille commented on #1062
@jrieken I'd say a link that the editor detects: Link is shown in a react app running in the webview. Link rendering code in question is : https://github.com/microsoft/WebTemplateStudio/blob/b51ca65604f70e3646692067179ae08a4f69d832/src/client/src/containers/PostGenerationModal/index.tsx#L86

[2019-11-26 17:08] jrieken commented on #1062
Can you try with latest insiders? That should have a fix for these issues

[2019-11-27 09:20] sibille commented on #1104
Verified in dev-nightly version:
Templates version: 0.0.19329.1
Wizard version: 0.0.1932901

[2019-11-27 09:20] #1104 closed, assigned to dgomezc

[2019-11-27 09:21] sibille commented on #671
Verified in dev-nightly:
Templates version: 0.0.19329.1
Wizard version: 0.0.1932901

[2019-11-27 09:21] #671 closed, assigned to dgomezc

[2019-11-27 09:24] sibille commented on #1162
Verified in dev-nightly:
Templates version: 0.0.19329.1
Wizard version: 0.0.1932901

[2019-11-27 09:24] #1162 closed, assigned to dgomezc

[2019-11-27 10:39] sibille commented on #1207
Verified in dev-nightly:
Templates version: 0.0.19329.1
Wizard version: 0.0.1932901

[2019-11-27 10:39] #1207 closed, assigned to dgomezc

[2019-11-27 12:13] sibille commented on #1062
I tested with Insiders 1.41 and this seems still broken.
Source html is
`<a href="https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.Web%2Fsites" class="styles_link__3M7Qr">View</a>`

but then shows as

![image](https://user-images.githubusercontent.com/24698018/69722421-62ef6e80-1117-11ea-954b-259c698d0840.png)

[2019-11-27 12:54] jrieken commented on #1062
The link that get's shown there must not be the link that gets opened, e.g the encoding in the dialog is likely different but I assume that opening is also not working, right? Is that html from an embedded webview?

[2019-11-27 13:02] sibille commented on #1062
I just double checked, the link is the same in the browser, so its not opening correct.

Yes, Web Template Studio is shown in the embedded webview

[2019-11-29 14:53] jrieken commented on #1062
check - this should be better with next (Mondays) insiders build, https://github.com/microsoft/vscode/issues/83645#issuecomment-559814023

[2019-12-02 07:10] sibille opened #1256 "Add WebTS name validation configuration and validation libraries"
CoreTS allows the different platforms to configure name validators with the specifics of each platform (https://github.com/microsoft/CoreTemplateStudio/issues/101).

In WebTS we should
- [x] Create item name validation config
- [x] Create project name validation config
- [x] Implement regex validator
- [x] Implement reserved name validator
- [x] Implement existing name validator
- [x] Implement de

[2019-12-02 11:11] sibille commented on #1100
We should use the same behaviour on validation errors as VS Code uses. If you try to rename a file in VS Code to an invalid name the textbox shows like this:
![image](https://user-images.githubusercontent.com/24698018/69954909-c7864100-14fc-11ea-8f40-6ee8793b2d47.png)
Clicking outside the box cancels the renaming operation.

[2019-12-02 11:19] sibille opened #1257 "Update libraries to latest version in vue templates"
We should use fixed library versions in dependencies to avoid issues like https://github.com/microsoft/WebTemplateStudio/issues/1282

[2019-12-02 11:21] sibille opened #1258 "Update libraries to latest version in Angular templates"
We should use fixed library versions in dependencies to avoid issues like https://github.com/microsoft/WebTemplateStudio/issues/1282

[2019-12-02 11:28] sibille opened #1259 "Update libraries to latest version in node templates"
We should use fixed library versions in dependencies to avoid issues like https://github.com/microsoft/WebTemplateStudio/issues/1282

[2019-12-02 11:30] sibille opened #1260 "Update libraries to latest version in flask templates"
We should use fixed library versions in dependencies to avoid issues like https://github.com/microsoft/WebTemplateStudio/issues/1282

[2019-12-02 11:31] sibille opened #1261 "Update libraries to latest version in React templates"
We should use fixed library versions in dependencies to avoid issues like https://github.com/microsoft/WebTemplateStudio/issues/1282

[2019-12-02 11:32] sibille opened #1262 "Update libraries to latest version in Moleculer templates"
Check if libraries in moleculer are up to date and update if there is anything new

[2019-12-02 14:26] sibille commented on #1062
Working now on todays insider build.
Version: 1.41.0-insider (user setup)
Commit: 7cf4cca47aa025a590fc939af54932042302be63

The link is still showing up wrong in the popup, but leads to the correct place
![image](https://user-images.githubusercontent.com/24698018/69967040-ea721e80-1517-11ea-9f39-887ae63ed249.png)
![image](https://user-images.githubusercontent.com/24698018/69967086-fe1d8500-1517-11

[2019-12-02 16:49] sibille commented on #1163
@RichardC64, we will use async pipes from Web Template Studio Version 0.1 onwards, you can see a sample of what's generated at https://github.com/sibille/angularNodeSampleApp. Would love to get your feedback.

[2019-12-02 16:52] sibille commented on #1215
@johnpapa, this issue was created based on feedback you gave to the interns working on WebTS. All changes are applied now and you can see what we generate from Web Template Studio Version 0.1 onwards at https://github.com/sibille/angularNodeSampleApp . Would love to get your feedback!

[2019-12-02 16:53] sibille commented on #1216
@johnpapa, this issue was created based on feedback you gave to the interns working on WebTS. All changes are applied now and you can see what we generate from Web Template Studio Version 0.1 onwards at https://github.com/sibille/angularNodeSampleApp . Would love to get your feedback!

[2019-12-03 07:58] javieraparisivaldes opened #1263 "Prevent unmount viewmodel with disabled prop in next button"
Since the step 1 if you double click in next button yo will change to step 3 without selection.

**Steps to reproduce the behavior:**
1.Launch WebTs
2.Double click on next button (fast)
3.Yo will change from step 1 to step 3 without selection, then the extension crash

**Expected behavior**
Until the next step is not ready the next button will be disabled.

**Screenshots**
![vscodebwebts2 (1)](htt

[2019-12-03 16:24] dgomezc commented on #1159
Verified in dev-nightly:
Templates version: 0.0.19337.1
Wizard version: 0.0.1933701

[2019-12-03 16:24] #1159 closed, assigned to javieraparisivaldes

[2019-12-03 16:24] dgomezc commented on #1216
Verified in dev-nightly:
Templates version: 0.0.19337.1
Wizard version: 0.0.1933701

[2019-12-03 16:24] #1216 closed, assigned to javieraparisivaldes

[2019-12-03 16:40] sibille commented on #1217
Verified in dev-nightly version:
Templates version: 0.0.19337.1
Wizard version: 0.0.1933701

[2019-12-03 16:40] #1217 closed, assigned to dgomezc

[2019-12-04 08:22] sibille opened #1264 "Change page addition and removal behavior"
We should apply the following changes to the page addition and removal behaviour to make it clearer that pages should be given a custom name:

- After adding a page the focus should move to the right side bar to edit the item name
- Remove the minus button as it's not very clear which page will be removed + Items can be removed from the right side bar
- The whole card should be clickable
- Move th

[2019-12-04 08:44] dgomezc commented on #1230
Verified in dev-nightly:
Templates version: 0.0.19337.1
Wizard version: 0.0.1933701

[2019-12-04 08:44] #1230 closed, assigned to nobody

[2019-12-04 10:56] dgomezc commented on #1242
Verified in dev-nightly:
Templates version: 0.0.19337.1
Wizard version: 0.0.1933701

[2019-12-04 10:56] #1242 closed, assigned to javieraparisivaldes

[2019-12-04 16:55] dgomezc commented on #1164
Verified in dev-nightly:
Templates version: 0.0.19338.2
Wizard version: 0.0.1933802

[2019-12-04 16:55] #1164 closed, assigned to javieraparisivaldes

[2019-12-04 16:56] dgomezc commented on #1227
Verified in dev-nightly:
Templates version: 0.0.19338.2
Wizard version: 0.0.1933802

[2019-12-04 16:56] #1227 closed, assigned to javieraparisivaldes

[2019-12-04 17:15] dgomezc commented on #1229
Verified in dev-nightly:
Templates version: 0.0.19338.2
Wizard version: 0.0.1933802

[2019-12-04 17:15] #1229 closed, assigned to javieraparisivaldes

[2019-12-05 10:37] sibille commented on #689
Verified in dev-nightly:
Templates version: 0.0.19339.1
Wizard version: 0.0.1933901

[2019-12-05 10:37] #689 closed, assigned to dgomezc

[2019-12-05 11:02] sibille commented on #1134
Verified in dev-nightly,
Templates version: 0.0.19339.1
Wizard version: 0.0.1933901

[2019-12-05 11:48] dgomezc commented on #1163
Verified in dev-nightly:
Templates version: 0.0.19338.2
Wizard version: 0.0.1933802

[2019-12-05 11:48] #1163 closed, assigned to javieraparisivaldes

[2019-12-05 12:37] dgomezc commented on #1215
Verified in dev-nightly:
Templates version: 0.0.19338.2
Wizard version: 0.0.1933802

[2019-12-05 12:37] #1215 closed, assigned to javieraparisivaldes

[2019-12-05 12:40] #1134 closed, assigned to dgomezc

[2019-12-09 18:04] dea398 opened #1270 "Request to get master detail text failed: Error: Request Header Fields Too Large"
Hi, I created a vue app with flask as a backend. I choose the master detail template and grid template but they are throwing this error:

Request to get master detail text failed: Error: Request Header Fields Too Large

If I run this website (I uploaded) to azure it is working properly. Why is not working in my local pc?

This is the version of my vs code in a windows 10 O.S

![image](https://user

[2019-12-10 07:16] javieraparisivaldes opened #1274 "Fix lint test on angular, react and vue templates"
- [x] Fix lint test on angular.
- [x] Add lint test on react templates:
run "npm i --save eslint" + add in package.json
"lint": "eslint src/**/*.js src/**/*.jsx"
"eslint-plugin-react": "^7.17.0",
- [x] Fix lint test vue.
- [x] Run lint in template tests

**Execute**
run "npm run lint"

[2019-12-10 07:19] javieraparisivaldes opened #1275 "Add unit test on react and vue templates"
Add unit test on react and vue templates in list, grid, master and blank page

**Execute**
run "npm run test"

[2019-12-10 11:13] sibille opened #1277 "Update libraries in wizard and extension code"
Review and update libraries in wizard and extension code

[2019-12-10 12:25] sibille opened #1279 "Dev-nightly: Change message when creating an app service on the learn subscription"
When creating an app service on the Learn subscription, message on the Dialog should be
"A FREE tier app service plan will be created for you."
instead of
"A free BASIC tier 30 day trial app service plan will be created for you."

[2019-12-10 22:41] javieraparisivaldes opened #1282 "MS Edge with react dont work"
**Describe the bug**
When loaded into the browser, it throws a syntax error to the console on this line:
webpackHotDevClient line 60
// Connect to WebpackDevServer via a socket.
var connection = new WebSocket(

**To Reproduce**
Choose React + Node on WebTS
On generated code console run "npm i" + "npm start"

[2019-12-11 06:56] sibille commented on #1282
Underlying issue is https://github.com/facebook/create-react-app/issues/8084

[2019-12-11 07:11] sibille opened #1285 "Review telemetry reported + update docs and tools"
Review telemetry reported from wizard and extension and identify metrics we want to add (f.ex Quick start usage, add pages button).

Also update docs related to telemetry and update WTS Telemetry function to report monthly usage data from WebTS.

[2019-12-11 07:15] sibille opened #1286 "Review accessibility of generated apps + update docs"
We should review accessibility of generated apps and update related docs

[2019-12-11 07:19] sibille opened #1287 "Pages should be ordered by wts.displayOrder in Wizard"
We should apply a unique wts.displayOrder to each page template and order pages in the wizard accordingly to ensure a consistent order. (In Mac pages are showing in a different order currently).

[2019-12-11 08:52] sibille commented on #1209
@johnpapa, did you have the chance to look into our structure proposal from https://github.com/microsoft/WebTemplateStudio/issues/1209#issuecomment-553428712.

Would be great to get more feedback on this from the community.

[2019-12-11 09:12] dgomezc commented on #1193
Review of docs and wiki is finished, updated the first comment of this issue with  proposal for docs and wiki structure and action plan.

Also opened issues #1285 and #1286 for topics that need further work/investigation.

[2019-12-11 09:20] sibille commented on #1282
Verified in version
Templates version: 0.1.19345.1
Wizard version: 0.1.1934501

[2019-12-11 09:20] #1282 closed, assigned to javieraparisivaldes

[2019-12-11 13:47] sibille commented on #1279
Verified in dev-nightly:
Templates version: 0.1.19345.2
Wizard version: 0.1.1934502

[2019-12-11 13:47] #1279 closed, assigned to dgomezc

[2019-12-11 14:08] sibille opened #1290 "Dev-nightly: Creating app with moleculer and list page only fails"

[2019-12-12 07:57] sibille commented on #1290
Verified on version:
Templates version: 0.1.19346.1
Wizard version: 0.1.1934601

[2019-12-12 07:57] #1290 closed, assigned to dgomezc

[2019-12-12 08:09] sibille commented on #1270
Thanks for reporting @dea398.
Both pages should work fine locally as well as on the server. What version of Python are you using?

[2019-12-16 10:47] sibille opened #1295 "Split AppService modal functionality into components"
AppService Modal is a big component, we should split it into various subcomponents.

[2019-12-19 14:41] javieraparisivaldes opened #1301 "Improve performance using chunks on react project (wizard)"
**Describe the bug**
On the react code (Wizard) use react.lazy on optional components

**To Reproduce**
When mount the component App.jsx the optional components always load:

**Expected behavior**
All the optional components on will be load by react.lazy

**Screenshots**
![image](https://user-images.githubusercontent.com/56872233/71181449-74d6b400-2274-11ea-913c-f5eb85842bb6.png)

![image](https:/

[2020-01-07 08:37] sibille opened #1303 "Split PostGeneration modal into components"
- PostGeneration modal is a big component containing functionality that depends on different generation scenarios. We should split this into subcomponents + add tests.
- Refactor generateProject on extensionService for return resolve/reject promise when finish all the async calls
- Refactor generationModal for use react.memo on computed observables
- Refactor generationModal for dont use small sta

[2020-01-08 14:16] sibille opened #1306 "Identify and Cleanup unused code in wizard"
We should identify and cleanup unused code in the wizard:

- [x] SummarySection container
- [x] Azure Function related code

[2020-01-10 13:35] sibille opened #1307 "Review AppService and CosmosDB Model in the store"
Review:
- Why is CosmosDB selection an array?
- What is AccountName availability used for?
- What is WizardContent used for

Also refactor services property on redux store from azureProfileData (isLoggedIn, subscriptionData)

[2020-01-16 09:22] sibille opened #1310 "Review localization in client and extension"
Review localization code and scripts in client and extensions.
We should use the locale selected in VS Code.

[2020-01-16 15:51] sibille commented on #1232
Giving the choice to the developer would duplicate the page templates for react +
looking at react docs hooks seem to be the recommended choice for new projects.

We think we should refactor our react templates to use hooks.

[2020-01-22 08:27] sibille opened #1312 "Use ESLint in Wizard and Extension instead of TSLint"
TSLint has been deprecated in favor of ESLint. See https://github.com/palantir/tslint/issues/4534 for more information.

We should switch to ESLint and enable linting in build pipeline again.

[2020-01-24 06:28] HaythamAmairah opened #1317 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `WebTemplateStudio-dev-nightly`
- Extension Version: `0.1.1934601`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\user\WASTeamAccount.WebTemplateStudio-dev-nightly-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/mic

[2020-01-24 09:39] sibille commented on #1317
Thanks for reporting!
Could you attach the file C:\Users\user\WASTeamAccount.WebTemplateStudio-dev-nightly-unresponsive.cpuprofile.txt to diagnose what caused the issue? Also, did you get this issue when starting Web Template Studio, while navigating through the wizard or on project generation?

[2020-01-24 11:24] HaythamAmairah commented on #1317
I got this issue on project generation!
The file is attached.
Thanks!

[WASTeamAccount.WebTemplateStudio-dev-nightly-unresponsive.cpuprofile.txt](https://github.com/microsoft/WebTemplateStudio/files/4108091/WASTeamAccount.WebTemplateStudio-dev-nightly-unresponsive.cpuprofile.txt)

[2020-01-24 16:02] MethodicalMadness opened #1320 "Resource location defaults to Central US"
I made an React app with mongo db. All went well and was quite impressed until I realised the location was Central US. It would be ideal to have an option when adding resources to choose resource locations or add already available resources.

[2020-01-27 11:09] sibille commented on #1320
Thanks for your feedback! We're thinking of providing an advanced mode for Cosmos DB and App Service configuration, to give the possibility to configure the location and resource group. Are there any other values that you'd like to personalize?

[2020-01-28 10:30] MethodicalMadness commented on #1320
I am only just starting out on my web app journey with Azure, so I will refrain from giving advice on things I do not know. What I do know is the location of resources cannot be changed through the azure portal, once created that is where it is. My suggestion would be to focus on configuration options that are immutable first.

[2020-01-28 13:14] sibille commented on #1287
Verified in dev-nightly ;
Templates version: 0.1.20028.1
Wizard version: 0.1.2002801

[2020-01-28 13:14] #1287 closed, assigned to dgomezc

[2020-01-28 13:15] sibille commented on #572
Fixed as part of https://github.com/microsoft/WebTemplateStudio/pull/1309

Verified in dev-nightly:
Templates version: 0.1.20028.1
Wizard version: 0.1.2002801

[2020-01-28 13:15] #572 closed

[2020-01-28 13:15] sibille commented on #359
Fixed as part of https://github.com/microsoft/WebTemplateStudio/pull/1309

Verified in dev-nightly:
Templates version: 0.1.20028.1
Wizard version: 0.1.2002801

[2020-01-28 13:15] #359 closed

[2020-01-28 13:19] sibille commented on #1100
Fixed as part of #1309

Verified in dev-nightly:
Templates version: 0.1.20028.1
Wizard version: 0.1.2002801

[2020-01-28 13:19] #1100 closed, assigned to javieraparisivaldes

[2020-01-28 13:22] sibille commented on #1140
Verified in dev-nightly:

Templates version: 0.1.20028.1
Wizard version: 0.1.2002801

[2020-01-28 13:22] #1140 closed, assigned to dgomezc

[2020-01-29 08:26] sibille commented on #1232
A generated react app with hooks will look like this:
[reactHooksSampleApp.zip](https://github.com/microsoft/WebTemplateStudio/files/4126907/reactHooksSampleApp.zip)

[2020-01-30 11:02] ajaymagan opened #1327 "Cannot start generation engine. spawn UNKNOWN"
Repro steps:

1.
2.

Action: Sync-Engine
Error type: UNKNOWN
Error Message: Cannot start generation engine. spawn UNKNOWN

Version: 0.1.1934601
OS: win32
VS Code Version: 1.41.1

<details>
<summary>Call Stack</summary>

[code]

[2020-01-30 13:30] sibille commented on #1327
Thanks for reporting @ajaymagan.
Could you provide us your log from C:\Users\[username]\.vscode\extensions\wasteamaccount.webtemplatestudio-dev-nightly-0.1.1934601\logs
and check if your user has execution permissions on C:\Users\[username]\.vscode\extensions\wasteamaccount.webtemplatestudio-dev-nightly-0.1.1934601\src\corets-cli\win32?

[2020-01-31 06:25] ajaymagan commented on #1327
Hi attached log as requested

From: sibille [mailto:notifications@github.com]
Sent: Thursday, January 30, 2020 3:31 PM
To: microsoft/WebTemplateStudio
Cc: Ajay; Mention
Subject: Re: [microsoft/WebTemplateStudio] Cannot start generation engine. spawn UNKNOWN (#1327)

Thanks for reporting @ajaymagan <https://github.com/ajaymagan> .
Could you provide us your log from C:\Users[username].vscode\extensi

[2020-01-31 11:55] sibille commented on #1327
Hi @ajaymagan, it seems that the file has not made it through to github with the email response, could you attach it on the github thread?

[2020-01-31 12:05] sibille commented on #1259
Update to package azure/cosmos 3.5.2 requires code changes due to breaking changes.

[2020-01-31 14:41] ajaymagan commented on #1327
[wts.log](https://github.com/microsoft/WebTemplateStudio/files/4139884/wts.log)

[2020-02-01 14:50] ladipo commented on #1191
I am still having problem launching the wizard, I keep getting this message "command 'webTemplateStudioExtension.wizardLaunch' not found"

Even when all dependencies are installed.

I am using version 0.1.1934601

[2020-02-04 09:15] sibille commented on #1191
Hi @ladipo, thanks for reporting.
Could you share the output from Log (Shared) and Log (Extension Host) to see whats the underlying reason?

[2020-02-04 09:33] sibille commented on #1327
Thanks for sharing!
The problem seems to be that the generation engine executable cannot be started.
Could you confirm if the file C:\Users\[username]\.vscode\extensions\wasteamaccount.webtemplatestudio-dev-nightly-0.1.2003401\src\corets-cli\win32\Microsoft.Templates.Cli.exe exists and you have execution permissions on it?

[2020-02-04 13:34] ladipo commented on #1191
I reinstall VS code and it is working fine.

Thanks for the response

Ladipo

On Tue, Feb 4, 2020 at 10:15 AM sibille <notifications@github.com> wrote:

[2020-02-05 06:43] manvydasu commented on #1206
There is clearly something wrong. Similiar issue was menitoned there https://github.com/ReactTraining/react-router/issues/6840

And the solution was to manually install regexp???? Does not seem ok.

[2020-02-12 16:58] duongleh commented on #1258
Angular 9 is out now. Any plan to update to the latest version?

[2020-02-17 16:11] sibille commented on #1258
Yes, we're looking into updating angular to the latest version

[2020-02-18 09:07] sibille opened #1338 "App Service Name should not be re-calculated when changing the subscription"
**Describe the bug**
App Service Name should not be re-calculated when changing the subscription.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Web Template Studio
2. Click next until reaching the Add optional cloud services page
3. Click "Add to my project"
4. Choose a subscription.
5. Enter a custom web app name that is unique.
6. Choose a different subscription

=> The selected n

[2020-02-18 09:11] sibille opened #1339 "Remove redirect popup"
Right now there are two popups shown when you click on a link.
We should remove our popup as Visual Studio Code has a built in message.

![image](https://user-images.githubusercontent.com/24698018/74720885-c7adf700-5236-11ea-888b-6705cafb2819.png)
![image](https://user-images.githubusercontent.com/24698018/74720902-d399b900-5236-11ea-8b01-201aef0d977c.png)

[2020-02-18 09:17] sibille opened #1340 "Optimize CoreTS build output"
.NET Core 3.0 brings some enhancements to reduce the size of the compiled package like Single-file executables and Assembly linking (https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0)

[2020-02-18 10:52] sibille opened #1341 "Replace component names in templates"
We should replace the component and file names in the templates with the name the user chose.
For example if a user adds a master detail page called Contacts, "MasterDetail" should be replaced by "Contacts" in all files.

Generated code should be:
![image](https://user-images.githubusercontent.com/24698018/74727769-f4b3d700-5241-11ea-9839-9a2f2ced32cd.png)

or
![image](https://user-images.githubus

[2020-02-18 14:05] sibille commented on #1256
We should allow white spaces in page names

[2020-02-20 14:45] sibille opened #1344 "Dev-nightly: Framework and Page Cards should be selectable with keyboard"
We've lost  keyboard selection for Framework and Page cards

[2020-02-21 09:47] sibille commented on #1262
@andremaz, we've seen moleculer has released version 0.14 with a lot of new stuff last week. we'd love to update the templates to the latest version, could you help here?

[2020-02-21 10:58] AndreMaz commented on #1262
Sure thing @sibille . I've created a PR (https://github.com/microsoft/WebTemplateStudio/pull/1346) with the latest version

[2020-02-21 10:59] sibille commented on #1262
Awesome! Thanks!

[2020-02-21 12:10] dgomezc commented on #1261
Verified in dev-nightly ;
Templates version: 0.1.20052.2
Wizard version: 0.1.2005202

[2020-02-21 12:10] #1261 closed, assigned to javieraparisivaldes

[2020-02-21 12:10] dgomezc commented on #1260
Verified in dev-nightly ;
Templates version: 0.1.20052.2
Wizard version: 0.1.2005202

[2020-02-21 12:10] #1260 closed, assigned to dgomezc

[2020-02-21 12:10] dgomezc commented on #1259
Verified in dev-nightly ;
Templates version: 0.1.20052.2
Wizard version: 0.1.2005202

[2020-02-21 12:10] #1259 closed, assigned to dgomezc, javieraparisivaldes

[2020-02-24 09:15] dgomezc commented on #1006
Verified in dev-nightly ;
Templates version: 0.1.20052.2
Wizard version: 0.1.2005202

[2020-02-24 09:15] #1006 closed, assigned to javieraparisivaldes

[2020-02-24 10:52] dgomezc opened #1349 "dev-nightly: Error when cancel project path selection"
In the start page, when you click on the browse button a modal is shown to select a new path. If you press on the cancel button, the textbox shows the old path, but really the path is empty. If you go to the next page, in the right panel, the location section is empty, and if you go back to starting page, the textbox is empty.

Generating project failed too.

[2020-02-24 11:03] dgomezc commented on #1264
Outstanding work:

- The focus doesn´t move to the page name textbox when adding a page.
- Card border should be more bold when adding a page.
- Plus icon on card should show when card is focused.
- The detail link should be clickable when is focused and press space or enter keys.

[2020-02-24 11:08] dgomezc commented on #1264
Outstanding work:

- When adding page, the focus should go to the page name textbox in right panel.
- The card border should be more bold when adding pages.
- The read more link should be clickable when is focused and press space or enter keys.
- The plus icon on card should show when card is focused.

[2020-02-24 14:23] dgomezc commented on #1262
Verified in dev-nightly:
Templates version: 0.1.20055.2
Wizard version: 0.1.2005502

[2020-02-24 14:23] #1262 closed, assigned to javieraparisivaldes

[2020-02-24 14:42] dgomezc commented on #1257
Verified in dev-nightly:
Templates version: 0.1.20055.2
Wizard version: 0.1.2005502

[2020-02-24 14:42] #1257 closed, assigned to javieraparisivaldes

[2020-02-24 14:59] sibille opened #1350 "Dev-nightly: Restart after failed generation does not allow generation"
1. Force a failed generation (f.ex by putting invalid chars in the output folder name)
2. Click restart

=> Next generation is not triggered + shows as failed

[2020-02-24 15:01] sibille commented on #1080
Verified in dev-nightly:
Templates version: 0.1.20055.2
Wizard version: 0.1.2005502

[2020-02-24 15:01] #1080 closed, assigned to dgomezc

[2020-02-24 15:11] sibille commented on #1312
Verified in dev

[2020-02-24 15:11] #1312 closed, assigned to dgomezc

[2020-02-24 16:05] sibille commented on #1285
Verified in dev-nightly:
Templates version: 0.1.20055.2
Wizard version: 0.1.2005502

[2020-02-24 16:05] #1285 closed, assigned to dgomezc

[2020-02-24 16:16] dgomezc commented on #1232
Verified in dev-nightly:
Templates version: 0.1.20055.2
Wizard version: 0.1.2005502

[2020-02-24 16:16] #1232 closed, assigned to javieraparisivaldes

[2020-02-25 09:09] sibille commented on #1317
Moving to 0.3 as this needs some refactoring first

[2020-02-25 09:10] sibille commented on #1295
Moved to 0.3 to finish work there, last component to extract is app service name

[2020-02-25 09:14] sibille opened #1354 "Split CosmosDB modal into components"
CosmosDB Modal is a big component, we should split it into various subcomponents.

[2020-02-25 09:19] sibille opened #1355 "Review redux store"
Review state properties in redux store and decide which properties to remove / refactor

This issue split on the following issues:
- Review vscode redux store #1398
- Refactor GenerationStatus property on redux store #1400
- Refactor DependencyInfo property on redux store #1402
- Refactor templates and config property on redux store #1409
- Refactor userSelection property on redux store #1412
- Re

[2020-02-25 09:23] sibille opened #1356 "Reorganize actions/reducers/selectors folders"
Goal is to have actions/reducers and selectors for a specific state property (f.ex. userSelection) closer to each other.

Change folder structure to a structure like this:
 - src/store/selection/frameworks/action.ts
 -  src/store/selection/frameworks/model.ts
 -  src/store/selection/frameworks/reducer.ts
 -  src/store/selection/frameworks/selector.ts

Actions:
  - Change names (we should only use

[2020-02-25 09:30] sibille commented on #1258
Verified on dev-nighlty:
Templates version: 0.1.20056.1
Wizard version: 0.1.2005601

[2020-02-25 09:30] #1258 closed, assigned to javieraparisivaldes

[2020-02-25 10:34] sibille commented on #1263
Verified in dev-nighlty:

Templates version: 0.1.20056.1
Wizard version: 0.1.2005601

[2020-02-25 10:34] #1263 closed, assigned to javieraparisivaldes

[2020-02-25 10:36] sibille commented on #1344
Verified in dev-nightly:
Templates version: 0.1.20056.1
Wizard version: 0.1.2005601

[2020-02-25 10:36] #1344 closed, assigned to javieraparisivaldes

[2020-02-25 13:58] sibille commented on #1274
Verified on dev-nightly;
Templates version: 0.1.20056.1
Wizard version: 0.1.2005601

[2020-02-25 13:58] #1274 closed, assigned to javieraparisivaldes

[2020-02-27 07:40] sibille opened #1358 "Update libraries in generated code"

[2020-02-27 07:49] sibille opened #1359 "Use extensionService for communication between extension and client"
Move callbacks from App.tsx to extensionService to make App.tsx lighter

[2020-02-27 12:12] sibille commented on #1256
Verified in dev-nightly:
Templates version: 0.1.20058.2
Wizard version: 0.1.2005802

[2020-02-27 12:12] #1256 closed, assigned to javieraparisivaldes

[2020-02-27 12:12] sibille commented on #1264
Verified in dev-nightly:
Templates version: 0.1.20058.2
Wizard version: 0.1.2005802

[2020-02-27 12:12] #1264 closed, assigned to javieraparisivaldes

[2020-02-27 12:12] sibille commented on #1350
Verified in dev-nightly:
Templates version: 0.1.20058.2
Wizard version: 0.1.2005802

[2020-02-27 12:12] #1350 closed, assigned to dgomezc

[2020-02-27 12:12] sibille commented on #1349
Verified in dev-nightly:
Templates version: 0.1.20058.2
Wizard version: 0.1.2005802

[2020-02-27 12:12] #1349 closed, assigned to javieraparisivaldes

[2020-03-01 15:31] riandika-lumaris opened #1367 "The line "#!/usr/bin/env node" causes "SyntaxError: Invalid or unexpected token" when executed"
**Describe the bug**
When I try to run the generated project using Ubuntu on WSL, there is syntax error on the line "#!/usr/bin/env node" in server.js file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a WTS project with React and Express
2. Open Ubuntu WSL
3. Run "npm install" to install the dependencies
3. Run "npm start"
4. The error comes up

**Expected behavior**
No error expe

[2020-03-02 09:35] sibille opened #1368 "Enhance scripts for local development + build pipeline"
We should create local build scripts that allows to compile and run the extension locally in debug and packaged as vsix.

This should include the:
 - Separate scripts for build of client/extension and cli (with parameters)
 - Script for local development of extension (client and cli)
 - Script para creation de vsix local
 - Creation of a config file with local configuration and replace the corets

[2020-03-02 16:47] dgomezc commented on #1367
Hi @riandika-lumaris,

thanks for reporting!

The problem is that server.js file is UTF8 with BOM encoded, which is causing the problem in WSL. You can remove this line and the server should start fine as the start command already specifies node.

We will update the templates to remove this line.

[2020-03-03 09:36] sibille opened #1370 "Create template snippets for WebTS"
Create VS Code template snippets as we have in Windows Template Studio https://github.com/microsoft/WindowsTemplateStudio/blob/dev/_utils/code-snippets.json

[2020-03-03 09:37] sibille opened #1371 "Adapt TemplateValidatorTool for usage in WebTS"
Windows Template Studio has a TemplateValidator tool, we should move this to CoreTS and adapt it for usage in Web Template Studio

[2020-03-03 13:11] sibille opened #1372 "Web Template Studio extension does not work correctly in Visual Studio Online"
**Describe the bug**
Web Template Studio extension does not work correctly in Visual Studio Online. Templates are synced correctly and the Wizard is showing up a second, but then disapears

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Visual Studio Online](https://visualstudio.microsoft.com/services/visual-studio-online/)
2. Sign up for public preview
3. Install Web Template Studio

[2020-03-09 08:17] duongleh opened #1374 "Containerizing Web Application with Docker"
I think we should add Dockerfile and related stuff so that our web app is containerized in containers for local development as well as ready to pack and deliver to cloud services.

[2020-03-09 10:36] sibille opened #1375 "Refactor PageList in RightSideBar"
Review and Refactor PageList in RightSideBar. This component is quite complex and has a lot of unused code. We need to refactor to be able to set the focus when adding a new page.

[2020-03-09 15:50] sibille opened #1376 "Images should be read from templates folder"
We should read the images from the templates folder (through the extension) instead of having them duplicated on the client.

For example, the node image should come from https://github.com/microsoft/WebTemplateStudio/blob/dev/templates/Web/_catalog/backendframeworks/Node.svg

[2020-03-13 10:41] dgomezc commented on #1306
SummarySection component was removed in https://github.com/microsoft/WebTemplateStudio/pull/1332/

[2020-03-13 11:29] dgomezc commented on #1338
this was resolved in https://github.com/microsoft/WebTemplateStudio/pull/1377

[2020-03-16 07:49] miradontsoa commented on #1367
Hi,
Just change the encoding of server.js file to UTF8 (instead of UTF-8 with BOM) and LF end of line.
Shebang is pretty usefull on linux, so I think it should stay there.

[2020-03-16 16:23] dgomezc opened #1382 "Organize WizardServant modules"
Modules that inherit from the WizardServant abstract class must be in the client-modules folder.

[2020-03-16 16:32] dgomezc opened #1383 "Investigate how to share code between the client and the extension"
- [ ] Investigate how to share code between the client and the extension using a share folder. (Try to remove duplication in code)
- [ ] Investigate if we can use generics in the IPayloadResponse interface to type the payload property:

[code]

[2020-03-16 18:21] sibille commented on #1367
Hi @miradontsoa, we need UTF-8 with BOM for language support.
Also, the express generator doen't include a shebang and the package.json specifies to start the server using node, thats why we decided to remove it.

[2020-03-17 07:21] sibille opened #1384 "Validation Errors not shown in after updating to VS Code 1.43"
**Describe the bug**
If you specify an invalid project, page or azure service name, the wizard does not allow to create the app, but no validation error message is shown.
This happened after updating to VS Code 1.43

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Web Template Studio
2. Change project name to MyApp;

=> Validation error message should be shown

**System**
- **VS Code V

[2020-03-17 18:36] sibille commented on #1384
Fixed in version 0.2.2007701

[2020-03-17 18:36] #1384 closed, assigned to javieraparisivaldes

[2020-03-20 00:15] SahilTara commented on #1383
https://stackoverflow.com/questions/44114436/the-create-react-app-imports-restriction-outside-of-src-directory Might want to consider ejecting web pack, before trying to have shared code via shared directory.
Another thing that was recommended was to create a small npm module containing all the shared code if you do not wish to eject web pack at this time.

[2020-03-30 13:15] javieraparisivaldes opened #1398 "Review vscode redux store"
Refactor vscode state properties in vscode context property

[2020-03-31 13:42] javieraparisivaldes opened #1400 "Refactor GenerationStatus property on redux store"
Delete actions, reducers and selectors of GenerationStatus property
Create hook on postGenerationModal

[2020-04-02 09:07] javieraparisivaldes opened #1402 "Refactor DependencyInfo property on redux store"
Delete actions, reducers and selectors of DependencyInfo property
Create hook on selectFrameworks

[2020-04-02 09:16] sibille opened #1403 "Fix warnings on test execution"
Execution of tests on client print warnings saying;

` It looks like you're using a version of react-dom that supports the "act" function, but not an awaitable version of "act" which you will need. Please upgrade to at least react-dom@16.9.0 to remove this warning.
`

We should update react-dom. Looking into this requires to remove react-loadable (which uses deprecated ComponentWillMount) and repl

[2020-04-02 09:34] sibille opened #1404 "Refactor AzureServices Page"
Changes to be done in step 4 (Add Optional Cloud Services) page:
- [x] Rename AzureLoginModal to AzureServicesModal
- [x] Add the possibility to sign in (add sign in link where user details and sign out are now (top right of main page))

[2020-04-05 21:04] javieraparisivaldes opened #1408 "When delete one character the cursor move to the last position"
**Describe the bug**
When delete one character the cursor move to the last position on project name or page name.

[2020-04-06 10:31] javieraparisivaldes opened #1409 "Refactor templates and config property on redux store"
Create templates and config property on redux store with:
- (templates) frontendFrameworks, backendFrameworks and Pages
- (config) detailsPage, previewStatus, validations, isValidatingName, versions and azureProfileData.

[2020-04-08 09:27] javieraparisivaldes opened #1412 "Refactor userSelection property on redux store"
Create userSelection property on redux store with:

- frontendFramework, backendFramework, pages, services (subscription id + location + resource id) and project (name + path)

[2020-04-08 13:56] javieraparisivaldes opened #1414 "Refactor redux-saga to redux store"
Refactor redux-thunk to redux-saga on redux store:
- Change redux-thunk by redux-saga
- Create saga subscriptions on frameworks selection, load framework list, load user login, load templates
- Remove following packages @types/react-router-dom @types/react-router
- Fix generation modal when create web without azure hosting

[2020-04-12 18:42] javieraparisivaldes opened #1416 "Refactor navigation property on redux store"
Refactor navigation property on redux store
- Modals & Router
- Refactor type keys on (azure, template, config, navigation and userSelection)
- Refactor /store/ActionType
- Delete unused and repeat action, selector, interfaces and reducers

[2020-04-13 07:15] javieraparisivaldes opened #1417 "Refactor services property on redux store"
Refactor services property on redux store from azureProfileData (isLoggedIn, subscriptionData)

[2020-04-13 07:36] sibille commented on #1417
Dup of #1307

[2020-04-13 07:36] #1417 closed, assigned to nobody

[2020-04-14 07:49] sibille opened #1418 "Improve feedback on azure service creation failure"
When the creation of an Azure App Service or Cosmos DB fails, very little information is provided.

The failure should be logged in the the log file and output window and a link should be provided from the generation modal.

[2020-04-17 08:06] sesameguy opened #1421 "The extension does not work in "remote containers""
while using "**remote containers**" & Select "**Web Template Studio: Launch**"

the below message is shown:
``
Cannot read property 'objectMode' of undefined
``

[2020-04-20 08:47] sibille commented on #1421
@sesameguy, thanks for reporting!

[2020-04-26 09:09] Fuadk opened #1432 "Web Template Studio: Launch crachs"
Repro steps:

1.
2.

Action: Sync-Engine
Error type: UNKNOWN
Error Message: Cannot start generation engine. spawn UNKNOWN

Version: 0.2.2007701
OS: win32
VS Code Version: 1.44.2

<details>
<summary>Call Stack</summary>

[code]

[2020-04-27 08:43] sibille commented on #1432
Hi @Fyadk, the problem seems to be that the generation engine executable cannot be started.
Could you confirm if the file C:\Users\[username]\.vscode\extensions\wasteamaccount.webtemplatestudio-dev-nightly-0.2.2007701\src\corets-cli\win32\Microsoft.Templates.Cli.exe exists and you have execution permissions on it?

[2020-04-27 19:59] Fuadk commented on #1432
Hello,
The file exists, but it seems to be a 64 bit, and I am running windows7 32
bit cause I am getting a message stating to check 64 bit or 32 bit, when I
try to run the program.
Regards,
Fuad

On Mon, 27 Apr 2020 at 10:44, sibille <notifications@github.com> wrote:

[2020-04-28 14:08] javieraparisivaldes commented on #1277
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-28 14:08] #1277 closed, assigned to javieraparisivaldes

[2020-04-28 14:10] javieraparisivaldes commented on #1341
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-28 14:10] #1341 closed, assigned to javieraparisivaldes

[2020-04-28 14:11] javieraparisivaldes commented on #1339
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-28 14:11] #1339 closed, assigned to javieraparisivaldes

[2020-04-28 14:13] javieraparisivaldes commented on #1356
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-28 14:13] #1356 closed, assigned to javieraparisivaldes

[2020-04-28 14:14] javieraparisivaldes commented on #1358
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-28 14:14] #1358 closed, assigned to javieraparisivaldes

[2020-04-28 14:25] dgomezc commented on #1301
Verified in dev branch.

[2020-04-28 14:25] #1301 closed, assigned to javieraparisivaldes

[2020-04-28 14:30] dgomezc commented on #1359
Verified in dev branch.

[2020-04-28 14:30] #1359 closed, assigned to javieraparisivaldes

[2020-04-28 15:17] dgomezc commented on #1375
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-28 15:17] #1375 closed, assigned to javieraparisivaldes

[2020-04-29 08:38] sibille opened #1434 "Dev-nightly: Clicking on hide/show pages option removes configured names"
1. Create a new project
2. Add some pages
3. Click on the hide/show pages icon on the right side bar

=> Pagenames are lost and showing error messages
![image](https://user-images.githubusercontent.com/24698018/80576417-6e67fe00-8a05-11ea-8eb0-670ced65c4ad.png)

[2020-04-29 10:10] sibille opened #1436 "Dev-nightly: Configuring the same name on app service and cosmos db results in a generation error"
1. Create a new project
2. Add an azure app service and a cosmos db with the same name
3. Generate

Actual result:
=> One or more errors occurred. (Error generating. Template name test12345334 is not valid. Errors:
Error: AlreadyExists; Validator: ExistingNamesValidator.)

Expected result:
This should result in a valid generation

[2020-04-29 13:26] sibille commented on #1062
Verified on dev-nightly:
Templates version: 0.2.20120.1
Wizard version: 0.2.2012001

[2020-04-29 13:26] #1062 closed, assigned to jsondoo

[2020-04-29 13:26] sibille commented on #1062
Verified on dev-nightly:
Templates version: 0.2.20120.1
Wizard version: 0.2.2012001

[2020-04-29 13:30] sibille commented on #429
Done as part of #1368

[2020-04-29 13:30] #429 closed

[2020-04-29 15:49] dgomezc commented on #1398
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1398 closed, assigned to javieraparisivaldes

[2020-04-29 15:49] dgomezc commented on #1400
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1400 closed, assigned to javieraparisivaldes

[2020-04-29 15:49] dgomezc commented on #1402
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1402 closed, assigned to javieraparisivaldes

[2020-04-29 15:49] dgomezc commented on #1409
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1409 closed, assigned to javieraparisivaldes

[2020-04-29 15:49] dgomezc commented on #1412
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1412 closed, assigned to javieraparisivaldes

[2020-04-29 15:49] dgomezc commented on #1416
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1416 closed, assigned to javieraparisivaldes

[2020-04-29 15:49] dgomezc commented on #1414
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:49] #1414 closed, assigned to javieraparisivaldes

[2020-04-29 15:50] dgomezc commented on #1355
Verified in dev-nightly:
Templates version: 0.2.20119.2
Wizard version: 0.2.2011902

[2020-04-29 15:50] #1355 closed, assigned to javieraparisivaldes

[2020-04-30 05:29] sibille commented on #1317
We've optimized CoreTS build output #1340 and improve performance using chunks on react project (wizard) #1301. Moving to 0.4 to finish this work by bundling extension files.

[2020-04-30 09:41] sibille opened #1440 "Dev-nightly: PageList in RightSidebar is not reordering and deleting pages correctly"
1. Add 4 pages with default names:
![image](https://user-images.githubusercontent.com/24698018/80696054-1ef20280-8ad7-11ea-85f9-5688acce435d.png)

2. Move the last page to the top

Expected result:
MasterDetail page should be on top

Actual result:
![image](https://user-images.githubusercontent.com/24698018/80696104-38934a00-8ad7-11ea-9890-f55140bf9dbc.png)

Also, when deleting pages sometimes the

[2020-05-04 10:21] sibille commented on #1340
Verified in dev-nightly:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 10:21] #1340 closed, assigned to dgomezc

[2020-05-04 10:46] #1368 closed, assigned to sibille

[2020-05-04 10:48] sibille commented on #1367
Verified in dev-nightly:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 10:48] #1367 closed, assigned to dgomezc

[2020-05-04 10:50] sibille commented on #1338
Verified in dev-nightly:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 10:50] #1338 closed, assigned to dgomezc

[2020-05-04 10:52] sibille commented on #1306
Verified in dev

[2020-05-04 10:52] #1306 closed, assigned to dgomezc

[2020-05-04 11:02] sibille commented on #1181
Verified in dev

[2020-05-04 11:02] #1181 closed, assigned to dgomezc

[2020-05-04 11:27] sibille commented on #1320
Verified in dev-nightly:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 11:27] #1320 closed, assigned to dgomezc

[2020-05-04 11:32] sibille commented on #1354
Verified in dev

[2020-05-04 11:32] #1354 closed, assigned to dgomezc

[2020-05-04 11:36] sibille commented on #1295
Verified in dev

[2020-05-04 11:36] #1295 closed, assigned to dgomezc

[2020-05-04 11:36] sibille commented on #1307
Verified in dev

[2020-05-04 11:36] #1307 closed, assigned to dgomezc

[2020-05-04 11:41] sibille commented on #1418
Verified in dev-nightly:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 11:41] #1418 closed, assigned to dgomezc

[2020-05-04 11:48] sibille commented on #1436
Verified in dev-nighlty:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 11:48] #1436 closed, assigned to sibille

[2020-05-04 13:07] sibille commented on #1372
Verified on dev-nightly:
Templates version: 0.2.20122.1
Wizard version: 0.2.2012201

[2020-05-04 13:07] #1372 closed, assigned to sibille

[2020-05-04 15:50] sibille commented on #1434
Verified in dev-nightly:
Templates version: 0.2.20125.1
Wizard version: 0.2.2012501

[2020-05-04 15:50] #1434 closed, assigned to javieraparisivaldes

[2020-05-04 15:51] sibille commented on #1408
Verified in dev-nightly:
Templates version: 0.2.20125.1
Wizard version: 0.2.2012501

[2020-05-04 15:51] #1408 closed, assigned to javieraparisivaldes

[2020-05-04 15:58] sibille commented on #1440
Verified in dev-nightly:
Templates version: 0.2.20125.1
Wizard version: 0.2.2012501

[2020-05-04 15:58] #1440 closed, assigned to javieraparisivaldes

[2020-05-05 09:12] sibille opened #1445 "Remove Quickstart and always show right side bar and generate button instead"
Telemetry has shown that Quickstart button hasn't a big usage (around 10%) and half of the people that use the QuickStart button edit the project before generation to add in more pages or azure services.
We should change the wizard to always show the right side bar with project information and enable the generation button from the first step to allow people to generate whenever they feel everythin

[2020-05-05 09:14] sibille opened #1446 "Change Navigation in Wizard"
- [x] The next, back and generate buttons on the nav bar should not change their position but be enabled/disabled depending on the current step
- [x] Allow navigation using the top nav bar

[2020-05-05 09:23] sibille opened #1447 "Remove add pages / reset pages button from right side bar on summary page"
Telemetry has shown that both buttons are not used frequently (4% and 1%)
- Add pages buttons usage is 4%, but pages can be added using the AddPages page with a better user experience (change page name once added).
- Reset pages usage is only 1%, pages can be deleted one by one.

[2020-05-05 09:25] sibille opened #1448 "Review wizard styles"
We should review wizard styles to match VS Code styles and reduce size of texts and controls.

[2020-05-05 15:05] sibille commented on #1015
https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Migration.md

[2020-05-05 15:31] sibille opened #1450 "Update libraries in generated code"

[2020-05-05 15:33] sibille opened #1451 "Update libraries in wizard and extension"

[2020-05-08 12:22] dgomezc commented on #1015
Currently blocked on microsoft/vscode-azure-account#140

[2020-05-16 04:41] mjbvz opened #1456 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-18 06:44] sibille commented on #1456
Thanks for reaching out, we'll switch to use the apis you mentioned.

[2020-05-19 16:22] sibille opened #1457 "Automate WebTS telemetry reports using the WTSTelemetry Service"
Use WTS Telemetry Service to keep WebTS telemetry up to date.

[2020-05-20 08:42] sibille opened #1458 "Right side bar overlaps scroll when collapsed"
Repro steps:
1. Launch Web Template Studio
2. Go to second page
3. Collapse right side bar

=> Scroll is hidden by collapsed right side bar

Scrollbar visible:
![image](https://user-images.githubusercontent.com/24698018/82425219-8112a780-9a86-11ea-8ba4-9f29f909faa0.png)

Scrollbar hidden:
![image](https://user-images.githubusercontent.com/24698018/82425283-97b8fe80-9a86-11ea-98a6-d1c82660d69d.png)

[2020-05-26 12:08] sibille opened #1464 "Fix excluded lint rules"
When we moved to eslint we temporarily disabled some rules on the client and extension.
We should decide on which rules to keep and fix them

Unify them accross client & extension

PR #1326  and #1343

[2020-05-26 12:10] javieraparisivaldes opened #1465 "Update package in client: react-intl to latest version"
Update library react-intl to latest version and refactor the wizard.

https://www.npmjs.com/package/react-intl

[2020-05-26 12:17] javieraparisivaldes opened #1466 "Change react-modal by react portals in wizard"
Refactor modals on wizard, use [react portals](https://reactjs.org/docs/portals.html)

[2020-05-28 16:00] sibille opened #1469 "Change SampleData model's _id property to id"
We should change the SampleData model's _id to id and use a guid instead of an integer value.
This makes autogeneration easier and ensures unique ids. It also helps as signature between database and code is the same.

[2020-05-28 16:06] sibille commented on #200
We're looking into adding a ASP.NET Core WebAPI backend, I've updated the Action Plan for this issue.

This also need's issue #1469 to parse data in ASP.NET and to share the same model among all Front and Backends.

[2020-06-01 09:18] sibille opened #1470 "Review information in Readme.md in generated code"
React + Node projects Readme.md contains outdated information as for example reference to images stored in /src/images."

We should review information in Readme.txt to ensure everything is up to date.

[2020-06-03 09:27] dgomezc opened #1472 "CosmosDB check account name fails"
When CosmosDB modal validate account name, checkNameExists function fails (error 500).

It seem a azure-arm-cosmosdb library problem. I open an issue in azure-sdk-for-node repo. (https://github.com/Azure/azure-sdk-for-node/issues/5174)

[2020-06-05 15:11] dgomezc commented on #1469
Hi @AndreMaz, we have problems to convert _id to id property with moleculer-db-adapter-mongo.

Currently to get listitems we use:

[code]
Is there way to configure MongoAdapter to convert _id to id in the _find function response?

[2020-06-05 16:26] AndreMaz commented on #1469
Hi @dgomezc yes, it is possible to convert `_id` to `id`

I can't do a PR because I'm getting an error when I run `./build-all.sh`
![image](https://user-images.githubusercontent.com/9802754/83898493-e33dfe80-a74e-11ea-834c-fb80fa8f4e53.png)

Anyway, in order to convert `_id` to `id` you need to set the `idField` in the settings of a service.
Here's an example. (It's NeDB but it also works for Mong

[2020-06-08 08:17] sibille commented on #1472
Closing this as name validation is working again.

[2020-06-08 08:17] #1472 closed, assigned to nobody

[2020-06-08 12:00] sibille commented on #1469
@andremaz, thanks for your help! About the error executing ./build-all.sh, is this the only error or are there more errors when builing the client? Seems as if the client build failed previously so the extension cannot find the manifest. Could you execute the script  ./build-client.sh to see if there are any errors here?

[2020-06-08 12:18] AndreMaz commented on #1469
Glad to help @sibille

Regarding the error, this is the output of `./build-client.sh`
![image](https://user-images.githubusercontent.com/9802754/84029250-ff79af80-a989-11ea-9d77-bf2007b896ca.png)

[2020-06-09 06:24] sibille opened #1474 "Error when compiling client"
Regarding the error, this is the output of `./build-client.sh`
![image](https://user-images.githubusercontent.com/9802754/84029250-ff79af80-a989-11ea-9d77-bf2007b896ca.png)

_Originally posted by @AndreMaz in https://github.com/microsoft/WebTemplateStudio/issues/1469#issuecomment-640567829_

[2020-06-09 06:26] sibille commented on #1474
@AndreMaz, opened a new issue for this. What node version are you using? There seems to be an issue on node 13.13 https://github.com/nodejs/node/issues/32852

[2020-06-09 08:46] AndreMaz commented on #1474
@sibille I'm using `v12.17`

[2020-06-09 09:38] sibille opened #1475 "Rename master branch"
We'll rename our master branch to release as suggested here:
https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

Action Plan:

- [x] Create release branch from staging
- [x] Apply branch protection rules
- [x] Update build pipelines
- [x] Delete master branch
- [x] Delete staging branch
- [x] Update Docs

[2020-06-11 18:03] j-rewerts opened #1477 "Deno Backend Support"
[Deno](https://deno.land/) 1.0 released recently. Is there any interest in having support for Deno added to WTS?

[2020-06-15 06:24] sibille opened #1479 "Licenses from composition templates are not shown"
The licenses modal only shows licenses from selected templates. Licenses from composition templates (as for example from the Cosmos DB templates for Mongo or SQL) are not shown.
We should add a command to the Cli to get all licenses to be able to show all licenses.

[2020-06-15 06:28] sibille opened #1480 "Use Node 12 as minimum required version"
Node 12.18 is the current LTS version for Node,
We should:
- update the dependency checker to check for this version
- update the build pipeline to use Node 12.

[2020-06-17 11:41] sibille opened #1484 "Dev-nightly: Invalid project name allows to navigate and generate project"
**Describe the bug**
Invalid project name allows to navigate and generate project

**To Reproduce**
Steps to reproduce the behavior:
1. Start Web Template Studio
2. Set the project name to something invalid (f. ex leave it empty)
3. Click next

=> Generate button is enabled

**Expected behavior**
You should not be able to leave the first page while the project name is not valid.

[2020-06-18 08:59] sibille opened #1485 "Deploy command fails when executed without launching the wizard first"
**Describe the bug**
Deploy command fails when executed without launching the wizard first

**To Reproduce**
Steps to reproduce the behavior:
1. Close all VS Code instances
2. Open a new VS Code instance with a previously generated app with app service.
3. Start WebTS using "Web Template Studio: Deploy App"

=> "Preparing for deployment" message shows a second, but then disappears

[2020-06-18 14:05] sibille commented on #1479
To make GetAllLicences work correctly all licences used in a template have to be added to the wts.lincenses tag on the template.json, currently this is only done for the bootrap license.

[2020-06-19 11:43] sibille opened #1487 "Requirements shoud be defined on templates"
The required version for each framework (as node, python or .NET core)  should be defined on the templates catalog instead of being hard coded on the extension.

[2020-06-19 11:48] sibille opened #1488 "Reduce sync retries on extension"
Extension tries currently 51 times to sync before failing.
We should not try to sync until the CLI is ready to receive sync requests and reduce number of sync retries. Also consider to increase time between retries.

[2020-06-19 11:54] sibille opened #1489 "Use different commands for different extension"
Dev-nightly and locally built extension cannot be installed side by side as they use the same command.
We should use separate commands for different extensions to allow side by side installation of different versions of the extensions.

The local extension command should be "Web Template Studio (local): Launch" . A script in the build pipeline should replace this by "Web Template Studio: Launch" f

[2020-06-19 11:57] sibille opened #1490 "Refactor template tests"
Template tests are currently run by a script that generates all app variations and then tests them. It's not possible to run tests for a specific framework and diagnosis of failures is difficult with this approach. We should refactor the test script into unit tests that can be executed individually.

[2020-06-19 11:59] sibille opened #1491 "Add template verification tests"
We should add tests that verify the template.json like we have on Windows Template Studio to ensure templates are configured correctly. (Licenses, parameters, etc..)

[2020-06-22 10:41] sibille opened #1494 "Change generated web applications folder structure"
We're looking into changing the folder structure of the web applications we generate to use separate folders for frontend and backend.
 
We've setup a sample project at https://github.com/dgomezc/StructureProposalApp and would love to get your feedback on this, to ensure what we generate works for everybody.
 
The idea is that each project lives in its own folder with it's own package.json or scri

[2020-06-22 10:42] sibille commented on #1209
Opened issue #1494 to get broader feedback on the structure we propose. I've referenced this issue there for more context.

[2020-06-24 11:51] AndreMaz commented on #1494
Are you planning to add `e2e` tests? If so, where would you place them?

[2020-06-26 10:53] javieraparisivaldes opened #1498 "Throw exceptions on extension log on cli comunications"
Throw exceptions on extension log on cli comunications

On src/extension/src/coreTemplateStudio.ts, in the function readStream (line 100) the callback of 'process.stdout' should write a exception on log when dont found a valid id response

[2020-06-29 07:37] sibille commented on #1494
We're not actively working on adding e2e tests, but it's a good idea, will open an issue to add it in. We think e2e tests should be located in the front-end folder, that's where the angular-cli puts them and we think it makes sense as they test the frontend (integrated with the backend).

[2020-06-29 07:37] sibille opened #1500 "Add e2e tests to generated projects"

[2020-06-30 21:33] marko-hologram commented on #1494
I have few thoughts, I'll try to split them in categories like folders or files, depending on which part of the template I'm giving feedback for. I do like the idea of separate backend and frontend folders and generating build files into a third folder, but I do have some thoughts overall. I'll also address this from React perspective since the repo that's linked is a React project.

## Folders

M

[2020-07-01 09:46] sibille commented on #1374
Moving back to backlog as this needs more investigation on how to integrate with appservice.

[2020-07-01 11:26] sibille commented on #1494
Great feeback @marko-hologram, thanks !
### Folders
We'll switch to lowercase for folder names as tyou suggested.

#### client/server vs frontend/backend folder
There are different opinions on the team but in the end we were more inclined to frontend and backend folder names as this matches the frontendframework and backendframework from the wizard choice on step 2.

#### arm-templates folder
We w

[2020-07-01 11:46] marko-hologram commented on #1494
Yeah good point about matching with wizard choice names.

Publish seems really good to me since in my opinion it still communicates in a nice way that those are production ready files/builds. Files that are ready to be published. `/out` can mean a lot of things such as being an output from some process or script which isn't necessarily a publish/build script.

Ok great! I'll maybe have some other

[2020-07-01 12:52] sibille opened #1502 "Feedback on generated react code"
Following up on React feedback provided on #1494

[2020-07-01 13:07] sibille commented on #1502
First of all, again thanks for your feeback @marko-hologram.

## Folders
While there is no official guidance, according to https://reactjs.org/docs/faq-structure.html convention seems to be lowercase for foldernames and then PascalCase for Components files.
Regarding the name: I think there is a global discussion ongoing in finding a new name for Master-Detail patterns, we'll adapt once there is a

[2020-07-02 14:26] dgomezc opened #1504 "Show preview templates does not work"
"preview" flag on frameworks json config does not work in Web Template Studio client.

[2020-07-02 14:29] dgomezc opened #1505 "Review Readme.md in generated projects"
The generated projects README.md files are difficult to maintain with compositions and show information that we believe is not necessary or would be better suited as comments in the generated code.

We have to review these files and decide what information they should show.

[2020-07-02 14:33] dgomezc opened #1506 "Cleanup parameters in templates"
The Param_RootNamespace parameter is unnecessary in most templates, they must be reviewed and removed from those that are not necessary.

[2020-07-02 14:55] sibille opened #1507 "Change project generation order"
There are currently 2 common project templates and 1 for each backend and frontend framework.
Naming of  frameworks determines the order of generation. This makes compositions complex as in some combinations frontend is generated before backend and viceversa.
We should order project generation by wts.compositionOrder to establish a deterministic order: First common project template (1 should be su

[2020-07-02 15:00] javieraparisivaldes opened #1508 "Add unit tests to vue.js generated projects"

[2020-07-03 08:24] javieraparisivaldes opened #1510 "Update generateProject function on extensionService to support rxjs pattern"
Update generateProject function on /src/utils/extensionService/extensionService to support rxjs pattern
Update /src/containers/GenerationModal/GenerationItem/index.tsx to use the new generationProject

[2020-07-03 10:56] sibille commented on #1506
In the project templates there are a bunch of unused parameters as username, etc too.

[2020-07-06 05:10] annaji-msft opened #1513 "Support templates for Static Web Apps and as hosting option."
**Is your feature request related to a problem? Please describe.**
New requirement to support the latest azure app service static web apps

https://aka.ms/swadocs

**Describe the solution you'd like**
Provide templates to create Static Web App solutions with Client, Functions and possibly storage(Cosmos)

**Describe alternatives you've considered**
A clear and concise description of any alternativ

[2020-07-06 07:44] sibille opened #1514 "Dev-nightly: Template details should not show licences tag when empty"
Dev-nightly: Template details should not show licences tag when empty

![image](https://user-images.githubusercontent.com/24698018/86568440-27e6d080-bf6d-11ea-829c-30c91d81e60c.png)

[2020-07-07 09:10] dgomezc commented on #1446
Verified in dev-nightly:
Templates version: 0.3.20189.2
Wizard version: 0.3.2018902

[2020-07-07 09:10] #1446 closed, assigned to javieraparisivaldes

[2020-07-07 09:19] dgomezc commented on #1403
Verified in dev-nightly:
Templates version: 0.3.20189.2
Wizard version: 0.3.2018902

[2020-07-07 09:19] #1403 closed, assigned to javieraparisivaldes

[2020-07-07 09:38] dgomezc commented on #1445
Verified in dev-nightly:
Templates version: 0.3.20189.2
Wizard version: 0.3.2018902

[2020-07-07 09:38] #1445 closed, assigned to javieraparisivaldes

[2020-07-07 10:05] dgomezc commented on #1447
Verified in dev-nightly:
Templates version: 0.3.20189.2
Wizard version: 0.3.2018902

[2020-07-07 10:05] #1447 closed, assigned to javieraparisivaldes

[2020-07-07 10:19] dgomezc commented on #1450
Verified in dev-nightly:
Templates version: 0.3.20189.2
Wizard version: 0.3.2018902

[2020-07-07 10:19] #1450 closed, assigned to javieraparisivaldes

[2020-07-07 10:27] dgomezc commented on #1451
Verified in dev-nightly:
Templates version: 0.3.20189.2
Wizard version: 0.3.2018902